<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Skill-Water1-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,80}</string>
                <key>spriteSourceSize</key>
                <string>{64,80}</string>
                <key>textureRect</key>
                <string>{{264,154},{64,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Skill-Water1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,80}</string>
                <key>spriteSourceSize</key>
                <string>{64,80}</string>
                <key>textureRect</key>
                <string>{{328,154},{64,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Skill-Water1-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,80}</string>
                <key>spriteSourceSize</key>
                <string>{64,80}</string>
                <key>textureRect</key>
                <string>{{392,154},{64,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Skill-Water1-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,80}</string>
                <key>spriteSourceSize</key>
                <string>{64,80}</string>
                <key>textureRect</key>
                <string>{{0,234},{64,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Skill-Water1-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,80}</string>
                <key>spriteSourceSize</key>
                <string>{64,80}</string>
                <key>textureRect</key>
                <string>{{64,234},{64,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Skill-Water1-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,80}</string>
                <key>spriteSourceSize</key>
                <string>{64,80}</string>
                <key>textureRect</key>
                <string>{{128,234},{64,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Skill-Water1-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,80}</string>
                <key>spriteSourceSize</key>
                <string>{64,80}</string>
                <key>textureRect</key>
                <string>{{192,234},{64,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Skill-Water1-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,80}</string>
                <key>spriteSourceSize</key>
                <string>{64,80}</string>
                <key>textureRect</key>
                <string>{{256,234},{64,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Skill-Water1-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,80}</string>
                <key>spriteSourceSize</key>
                <string>{64,80}</string>
                <key>textureRect</key>
                <string>{{320,234},{64,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Skill-Water1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,80}</string>
                <key>spriteSourceSize</key>
                <string>{64,80}</string>
                <key>textureRect</key>
                <string>{{384,234},{64,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Skill-Water1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,80}</string>
                <key>spriteSourceSize</key>
                <string>{64,80}</string>
                <key>textureRect</key>
                <string>{{448,234},{64,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Skill-Water1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,80}</string>
                <key>spriteSourceSize</key>
                <string>{64,80}</string>
                <key>textureRect</key>
                <string>{{0,314},{64,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Skill-Water1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,80}</string>
                <key>spriteSourceSize</key>
                <string>{64,80}</string>
                <key>textureRect</key>
                <string>{{64,314},{64,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Skill-Water1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,80}</string>
                <key>spriteSourceSize</key>
                <string>{64,80}</string>
                <key>textureRect</key>
                <string>{{128,314},{64,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Skill-Water1-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,80}</string>
                <key>spriteSourceSize</key>
                <string>{64,80}</string>
                <key>textureRect</key>
                <string>{{192,314},{64,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Skill-Water1-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,80}</string>
                <key>spriteSourceSize</key>
                <string>{64,80}</string>
                <key>textureRect</key>
                <string>{{256,314},{64,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Skill-Water1-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,80}</string>
                <key>spriteSourceSize</key>
                <string>{64,80}</string>
                <key>textureRect</key>
                <string>{{320,314},{64,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Skill-Water2-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,77}</string>
                <key>spriteSourceSize</key>
                <string>{66,77}</string>
                <key>textureRect</key>
                <string>{{0,0},{66,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Skill-Water2-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,77}</string>
                <key>spriteSourceSize</key>
                <string>{66,77}</string>
                <key>textureRect</key>
                <string>{{66,0},{66,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Skill-Water2-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,77}</string>
                <key>spriteSourceSize</key>
                <string>{66,77}</string>
                <key>textureRect</key>
                <string>{{132,0},{66,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Skill-Water2-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,77}</string>
                <key>spriteSourceSize</key>
                <string>{66,77}</string>
                <key>textureRect</key>
                <string>{{198,0},{66,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Skill-Water2-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,77}</string>
                <key>spriteSourceSize</key>
                <string>{66,77}</string>
                <key>textureRect</key>
                <string>{{264,0},{66,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Skill-Water2-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,77}</string>
                <key>spriteSourceSize</key>
                <string>{66,77}</string>
                <key>textureRect</key>
                <string>{{330,0},{66,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Skill-Water2-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,77}</string>
                <key>spriteSourceSize</key>
                <string>{66,77}</string>
                <key>textureRect</key>
                <string>{{396,0},{66,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Skill-Water2-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,77}</string>
                <key>spriteSourceSize</key>
                <string>{66,77}</string>
                <key>textureRect</key>
                <string>{{0,77},{66,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Skill-Water2-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,77}</string>
                <key>spriteSourceSize</key>
                <string>{66,77}</string>
                <key>textureRect</key>
                <string>{{66,77},{66,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Skill-Water2-17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,77}</string>
                <key>spriteSourceSize</key>
                <string>{66,77}</string>
                <key>textureRect</key>
                <string>{{132,77},{66,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Skill-Water2-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,77}</string>
                <key>spriteSourceSize</key>
                <string>{66,77}</string>
                <key>textureRect</key>
                <string>{{198,77},{66,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Skill-Water2-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,77}</string>
                <key>spriteSourceSize</key>
                <string>{66,77}</string>
                <key>textureRect</key>
                <string>{{264,77},{66,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Skill-Water2-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,77}</string>
                <key>spriteSourceSize</key>
                <string>{66,77}</string>
                <key>textureRect</key>
                <string>{{330,77},{66,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Skill-Water2-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,77}</string>
                <key>spriteSourceSize</key>
                <string>{66,77}</string>
                <key>textureRect</key>
                <string>{{396,77},{66,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Skill-Water2-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,77}</string>
                <key>spriteSourceSize</key>
                <string>{66,77}</string>
                <key>textureRect</key>
                <string>{{0,154},{66,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Skill-Water2-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,77}</string>
                <key>spriteSourceSize</key>
                <string>{66,77}</string>
                <key>textureRect</key>
                <string>{{66,154},{66,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Skill-Water2-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,77}</string>
                <key>spriteSourceSize</key>
                <string>{66,77}</string>
                <key>textureRect</key>
                <string>{{132,154},{66,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Skill-Water2-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,77}</string>
                <key>spriteSourceSize</key>
                <string>{66,77}</string>
                <key>textureRect</key>
                <string>{{198,154},{66,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Skill-Water3-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{384,314},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Skill-Water3-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{0,442},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Skill-Water3-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{128,442},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Skill-Water3-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{256,442},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Skill-Water3-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{384,442},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Skill-Water3-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{0,570},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Skill-Water3-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{128,570},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Skill-Water3-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{256,570},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Skill-Water3-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{384,570},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Skill-Water3-17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{0,698},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Skill-Water3-18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{128,698},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Skill-Water3-19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{256,698},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Skill-Water3-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{384,698},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Skill-Water3-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{0,826},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Skill-Water3-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{128,826},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Skill-Water3-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{256,826},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Skill-Water3-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{384,826},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Skill-Water3-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{0,954},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Skill-Water3-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{128,954},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Skill-Water3-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{256,954},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Skill-Water.png</string>
            <key>size</key>
            <string>{512,1082}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df753c46d87f2dee577dc5835328df76:8449b0921f3733e6a15d9151af137d78:3c9bda6f7fce545fa8e4f12323cd8b2b$</string>
            <key>textureFileName</key>
            <string>Skill-Water.png</string>
        </dict>
    </dict>
</plist>
