<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Attack_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-57}</string>
                <key>spriteSize</key>
                <string>{174,222}</string>
                <key>spriteSourceSize</key>
                <string>{700,400}</string>
                <key>textureRect</key>
                <string>{{1,1},{174,222}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Attack_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-64}</string>
                <key>spriteSize</key>
                <string>{192,214}</string>
                <key>spriteSourceSize</key>
                <string>{700,400}</string>
                <key>textureRect</key>
                <string>{{1,361},{192,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Attack_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-71}</string>
                <key>spriteSize</key>
                <string>{192,202}</string>
                <key>spriteSourceSize</key>
                <string>{700,400}</string>
                <key>textureRect</key>
                <string>{{225,1},{192,202}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Attack_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-67}</string>
                <key>spriteSize</key>
                <string>{186,210}</string>
                <key>spriteSourceSize</key>
                <string>{700,400}</string>
                <key>textureRect</key>
                <string>{{1,555},{186,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Attack_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,-68}</string>
                <key>spriteSize</key>
                <string>{200,210}</string>
                <key>spriteSourceSize</key>
                <string>{700,400}</string>
                <key>textureRect</key>
                <string>{{219,195},{200,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-68}</string>
                <key>spriteSize</key>
                <string>{158,210}</string>
                <key>spriteSourceSize</key>
                <string>{700,400}</string>
                <key>textureRect</key>
                <string>{{213,583},{158,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Attack_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-68}</string>
                <key>spriteSize</key>
                <string>{174,210}</string>
                <key>spriteSourceSize</key>
                <string>{700,400}</string>
                <key>textureRect</key>
                <string>{{217,407},{174,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Attack_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-63}</string>
                <key>spriteSize</key>
                <string>{182,216}</string>
                <key>spriteSourceSize</key>
                <string>{700,400}</string>
                <key>textureRect</key>
                <string>{{1,177},{182,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Attack_1.png</string>
            <key>size</key>
            <string>{428,742}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:277e12b31be865c94185960a7a168450:eaba926f52f4fb8e94c9141004133933:2f2595260b1812d0e387f0523c20354e$</string>
            <key>textureFileName</key>
            <string>Attack_1.png</string>
        </dict>
    </dict>
</plist>
