<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Block1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-60}</string>
                <key>spriteSize</key>
                <string>{198,218}</string>
                <key>spriteSourceSize</key>
                <string>{700,400}</string>
                <key>textureRect</key>
                <string>{{697,1},{198,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Block2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-60}</string>
                <key>spriteSize</key>
                <string>{168,218}</string>
                <key>spriteSourceSize</key>
                <string>{700,400}</string>
                <key>textureRect</key>
                <string>{{897,1},{168,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Block3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-60}</string>
                <key>spriteSize</key>
                <string>{170,220}</string>
                <key>spriteSourceSize</key>
                <string>{700,400}</string>
                <key>textureRect</key>
                <string>{{525,1},{170,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Block4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-60}</string>
                <key>spriteSize</key>
                <string>{172,220}</string>
                <key>spriteSourceSize</key>
                <string>{700,400}</string>
                <key>textureRect</key>
                <string>{{177,1},{172,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Block5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-60}</string>
                <key>spriteSize</key>
                <string>{172,220}</string>
                <key>spriteSourceSize</key>
                <string>{700,400}</string>
                <key>textureRect</key>
                <string>{{351,1},{172,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Block6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-64}</string>
                <key>spriteSize</key>
                <string>{190,212}</string>
                <key>spriteSourceSize</key>
                <string>{700,400}</string>
                <key>textureRect</key>
                <string>{{1067,1},{190,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Block7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-57}</string>
                <key>spriteSize</key>
                <string>{174,222}</string>
                <key>spriteSourceSize</key>
                <string>{700,400}</string>
                <key>textureRect</key>
                <string>{{1,1},{174,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Block8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-57}</string>
                <key>spriteSize</key>
                <string>{174,222}</string>
                <key>spriteSourceSize</key>
                <string>{700,400}</string>
                <key>textureRect</key>
                <string>{{1,1},{174,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Block9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-57}</string>
                <key>spriteSize</key>
                <string>{174,222}</string>
                <key>spriteSourceSize</key>
                <string>{700,400}</string>
                <key>textureRect</key>
                <string>{{1,1},{174,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Block.png</string>
            <key>size</key>
            <string>{1258,224}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca3bc208a8c063f3304cb897715ffd61:6ea2892202eda120ec8d07f4612aec94:4fe4864cc3cc30f699f7e4747aeac5a4$</string>
            <key>textureFileName</key>
            <string>Block.png</string>
        </dict>
    </dict>
</plist>
