<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Charge1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{52,-58}</string>
                <key>spriteSize</key>
                <string>{256,212}</string>
                <key>spriteSourceSize</key>
                <string>{700,400}</string>
                <key>textureRect</key>
                <string>{{523,219},{256,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Charge2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{67,-57}</string>
                <key>spriteSize</key>
                <string>{238,220}</string>
                <key>spriteSourceSize</key>
                <string>{700,400}</string>
                <key>textureRect</key>
                <string>{{283,211},{238,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Charge3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{47,-43}</string>
                <key>spriteSize</key>
                <string>{282,206}</string>
                <key>spriteSourceSize</key>
                <string>{700,400}</string>
                <key>textureRect</key>
                <string>{{1,1},{282,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Charge4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{51,-56}</string>
                <key>spriteSize</key>
                <string>{260,208}</string>
                <key>spriteSourceSize</key>
                <string>{700,400}</string>
                <key>textureRect</key>
                <string>{{285,1},{260,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Charge5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{68,-55}</string>
                <key>spriteSize</key>
                <string>{238,216}</string>
                <key>spriteSourceSize</key>
                <string>{700,400}</string>
                <key>textureRect</key>
                <string>{{547,1},{238,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Charge6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{48,-43}</string>
                <key>spriteSize</key>
                <string>{280,206}</string>
                <key>spriteSourceSize</key>
                <string>{700,400}</string>
                <key>textureRect</key>
                <string>{{1,209},{280,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Charge7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{48,-43}</string>
                <key>spriteSize</key>
                <string>{280,206}</string>
                <key>spriteSourceSize</key>
                <string>{700,400}</string>
                <key>textureRect</key>
                <string>{{1,209},{280,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Charge.png</string>
            <key>size</key>
            <string>{786,432}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3740e58fdd105111c54ed027113670ad:ca4012a8835e3b5ef6d2294f75d292b7:a8d4fd35c052e236385511218382920f$</string>
            <key>textureFileName</key>
            <string>Charge.png</string>
        </dict>
    </dict>
</plist>
