<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Hurt1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-57}</string>
                <key>spriteSize</key>
                <string>{174,222}</string>
                <key>spriteSourceSize</key>
                <string>{700,400}</string>
                <key>textureRect</key>
                <string>{{201,1},{174,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hurt2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-57}</string>
                <key>spriteSize</key>
                <string>{174,222}</string>
                <key>spriteSourceSize</key>
                <string>{700,400}</string>
                <key>textureRect</key>
                <string>{{201,1},{174,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hurt3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-48}</string>
                <key>spriteSize</key>
                <string>{198,234}</string>
                <key>spriteSourceSize</key>
                <string>{700,400}</string>
                <key>textureRect</key>
                <string>{{1,1},{198,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hurt4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-52}</string>
                <key>spriteSize</key>
                <string>{192,228}</string>
                <key>spriteSourceSize</key>
                <string>{700,400}</string>
                <key>textureRect</key>
                <string>{{1,237},{192,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hurt5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-61}</string>
                <key>spriteSize</key>
                <string>{176,214}</string>
                <key>spriteSourceSize</key>
                <string>{700,400}</string>
                <key>textureRect</key>
                <string>{{365,225},{176,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hurt6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-59}</string>
                <key>spriteSize</key>
                <string>{166,218}</string>
                <key>spriteSourceSize</key>
                <string>{700,400}</string>
                <key>textureRect</key>
                <string>{{377,1},{166,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hurt7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-57}</string>
                <key>spriteSize</key>
                <string>{168,222}</string>
                <key>spriteSourceSize</key>
                <string>{700,400}</string>
                <key>textureRect</key>
                <string>{{195,237},{168,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hurt8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-57}</string>
                <key>spriteSize</key>
                <string>{168,222}</string>
                <key>spriteSourceSize</key>
                <string>{700,400}</string>
                <key>textureRect</key>
                <string>{{195,237},{168,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Hurt.png</string>
            <key>size</key>
            <string>{544,466}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f66d2c1526e51da9a8b56f1fec794aed:9c203af460765d511ccdf12054fba6a5:c824c835982a0baf44dabb892aeea54f$</string>
            <key>textureFileName</key>
            <string>Hurt.png</string>
        </dict>
    </dict>
</plist>
