<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Jump_Attack_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-56}</string>
                <key>spriteSize</key>
                <string>{174,208}</string>
                <key>spriteSourceSize</key>
                <string>{700,400}</string>
                <key>textureRect</key>
                <string>{{225,1},{174,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Jump_Attack_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-56}</string>
                <key>spriteSize</key>
                <string>{206,206}</string>
                <key>spriteSourceSize</key>
                <string>{700,400}</string>
                <key>textureRect</key>
                <string>{{629,193},{206,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump_Attack_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-58}</string>
                <key>spriteSize</key>
                <string>{202,212}</string>
                <key>spriteSourceSize</key>
                <string>{700,400}</string>
                <key>textureRect</key>
                <string>{{209,177},{202,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Jump_Attack_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-60}</string>
                <key>spriteSize</key>
                <string>{180,220}</string>
                <key>spriteSourceSize</key>
                <string>{700,400}</string>
                <key>textureRect</key>
                <string>{{435,1},{180,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Jump_Attack_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-50}</string>
                <key>spriteSize</key>
                <string>{190,242}</string>
                <key>spriteSourceSize</key>
                <string>{700,400}</string>
                <key>textureRect</key>
                <string>{{657,1},{190,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Jump_Attack_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-56}</string>
                <key>spriteSize</key>
                <string>{162,222}</string>
                <key>spriteSourceSize</key>
                <string>{700,400}</string>
                <key>textureRect</key>
                <string>{{1,1},{162,222}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Jump_Attack_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-57}</string>
                <key>spriteSize</key>
                <string>{202,204}</string>
                <key>spriteSourceSize</key>
                <string>{700,400}</string>
                <key>textureRect</key>
                <string>{{423,183},{202,204}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Jump_Attack_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-57}</string>
                <key>spriteSize</key>
                <string>{192,206}</string>
                <key>spriteSourceSize</key>
                <string>{700,400}</string>
                <key>textureRect</key>
                <string>{{1,165},{192,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Jump_Attack_1.png</string>
            <key>size</key>
            <string>{900,400}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cf3c383d08c03ca4dbd5e55475cc3893:2cf2448d0a75954c45338604c2ab5769:afbe3c946fb3f03d38cfc6203a69cb0e$</string>
            <key>textureFileName</key>
            <string>Jump_Attack_1.png</string>
        </dict>
    </dict>
</plist>
