<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Run1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-61}</string>
                <key>spriteSize</key>
                <string>{196,228}</string>
                <key>spriteSourceSize</key>
                <string>{700,400}</string>
                <key>textureRect</key>
                <string>{{1,1},{196,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Run2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-58}</string>
                <key>spriteSize</key>
                <string>{202,220}</string>
                <key>spriteSourceSize</key>
                <string>{700,400}</string>
                <key>textureRect</key>
                <string>{{1,199},{202,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Run3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-53}</string>
                <key>spriteSize</key>
                <string>{206,214}</string>
                <key>spriteSourceSize</key>
                <string>{700,400}</string>
                <key>textureRect</key>
                <string>{{231,1},{206,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-57}</string>
                <key>spriteSize</key>
                <string>{170,218}</string>
                <key>spriteSourceSize</key>
                <string>{700,400}</string>
                <key>textureRect</key>
                <string>{{223,217},{170,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Run5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-58}</string>
                <key>spriteSize</key>
                <string>{140,220}</string>
                <key>spriteSourceSize</key>
                <string>{700,400}</string>
                <key>textureRect</key>
                <string>{{1,403},{140,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Run6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-55}</string>
                <key>spriteSize</key>
                <string>{140,214}</string>
                <key>spriteSourceSize</key>
                <string>{700,400}</string>
                <key>textureRect</key>
                <string>{{223,389},{140,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Run.png</string>
            <key>size</key>
            <string>{442,544}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aec773385b8227f4878ad0f434b0fdb1:3b907e026ba5a6c9eba06f319c85f1b0:c91fb64b0e016839a70bb33cc903714a$</string>
            <key>textureFileName</key>
            <string>Run.png</string>
        </dict>
    </dict>
</plist>
