<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Walk1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-57}</string>
                <key>spriteSize</key>
                <string>{148,220}</string>
                <key>spriteSourceSize</key>
                <string>{700,400}</string>
                <key>textureRect</key>
                <string>{{1581,1},{148,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walk10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-57}</string>
                <key>spriteSize</key>
                <string>{170,226}</string>
                <key>spriteSourceSize</key>
                <string>{700,400}</string>
                <key>textureRect</key>
                <string>{{1,1},{170,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walk11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-58}</string>
                <key>spriteSize</key>
                <string>{154,224}</string>
                <key>spriteSourceSize</key>
                <string>{700,400}</string>
                <key>textureRect</key>
                <string>{{719,1},{154,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walk12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-58}</string>
                <key>spriteSize</key>
                <string>{154,224}</string>
                <key>spriteSourceSize</key>
                <string>{700,400}</string>
                <key>textureRect</key>
                <string>{{719,1},{154,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walk2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-57}</string>
                <key>spriteSize</key>
                <string>{150,224}</string>
                <key>spriteSourceSize</key>
                <string>{700,400}</string>
                <key>textureRect</key>
                <string>{{875,1},{150,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walk3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-56}</string>
                <key>spriteSize</key>
                <string>{162,222}</string>
                <key>spriteSourceSize</key>
                <string>{700,400}</string>
                <key>textureRect</key>
                <string>{{1215,1},{162,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walk4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-57}</string>
                <key>spriteSize</key>
                <string>{174,224}</string>
                <key>spriteSourceSize</key>
                <string>{700,400}</string>
                <key>textureRect</key>
                <string>{{543,1},{174,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walk5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-56}</string>
                <key>spriteSize</key>
                <string>{186,222}</string>
                <key>spriteSourceSize</key>
                <string>{700,400}</string>
                <key>textureRect</key>
                <string>{{1027,1},{186,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walk6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-55}</string>
                <key>spriteSize</key>
                <string>{200,218}</string>
                <key>spriteSourceSize</key>
                <string>{700,400}</string>
                <key>textureRect</key>
                <string>{{1731,1},{200,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walk7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-56}</string>
                <key>spriteSize</key>
                <string>{200,220}</string>
                <key>spriteSourceSize</key>
                <string>{700,400}</string>
                <key>textureRect</key>
                <string>{{1379,1},{200,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walk8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-57}</string>
                <key>spriteSize</key>
                <string>{188,224}</string>
                <key>spriteSourceSize</key>
                <string>{700,400}</string>
                <key>textureRect</key>
                <string>{{173,1},{188,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walk9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-57}</string>
                <key>spriteSize</key>
                <string>{178,224}</string>
                <key>spriteSourceSize</key>
                <string>{700,400}</string>
                <key>textureRect</key>
                <string>{{363,1},{178,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Walk.png</string>
            <key>size</key>
            <string>{1932,228}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f9be4f1d4a19b30c341f6d6c9840728:eadc958e4d70b594d272ffeebb72a5e1:20c87050993b7f325db7de98a0289e42$</string>
            <key>textureFileName</key>
            <string>Walk.png</string>
        </dict>
    </dict>
</plist>
