<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Attack_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-52,-39}</string>
                <key>spriteSize</key>
                <string>{234,304}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{409,1},{234,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-56,-29}</string>
                <key>spriteSize</key>
                <string>{242,324}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{333,421},{242,324}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Attack_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-61,-26}</string>
                <key>spriteSize</key>
                <string>{250,330}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1,421},{250,330}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Attack_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-48,-38}</string>
                <key>spriteSize</key>
                <string>{236,306}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{659,1},{236,306}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Attack_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{98,12}</string>
                <key>spriteSize</key>
                <string>{418,406}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1,1},{418,406}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Attack_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{59,-74}</string>
                <key>spriteSize</key>
                <string>{300,234}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{659,239},{300,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-69}</string>
                <key>spriteSize</key>
                <string>{246,244}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{659,475},{246,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Attack_2.png</string>
            <key>size</key>
            <string>{966,720}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5084ba7ed741e826ccfd2fc244fc4949:4df8b88f090b5605d28246e3cada8618:0728f8e3137ad5638add573641fc21bb$</string>
            <key>textureFileName</key>
            <string>Attack_2.png</string>
        </dict>
    </dict>
</plist>
