<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Block1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-57}</string>
                <key>spriteSize</key>
                <string>{192,268}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1,1},{192,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Block2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-66}</string>
                <key>spriteSize</key>
                <string>{178,250}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{571,1},{178,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Block3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-71}</string>
                <key>spriteSize</key>
                <string>{160,240}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1,271},{160,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Block4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-71}</string>
                <key>spriteSize</key>
                <string>{160,240}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{163,271},{160,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Block5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-71}</string>
                <key>spriteSize</key>
                <string>{160,240}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{325,269},{160,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Block6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-71}</string>
                <key>spriteSize</key>
                <string>{160,240}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{659,253},{160,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Block7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-67}</string>
                <key>spriteSize</key>
                <string>{170,248}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{487,263},{170,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Block8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-61}</string>
                <key>spriteSize</key>
                <string>{188,260}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{381,1},{188,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Block9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-58}</string>
                <key>spriteSize</key>
                <string>{184,266}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{195,1},{184,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Block.png</string>
            <key>size</key>
            <string>{820,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b47088eadcec2aecfe67157f0c997ee4:57bed165dff0c3ab7d0c00e94c35b3a8:4fe4864cc3cc30f699f7e4747aeac5a4$</string>
            <key>textureFileName</key>
            <string>Block.png</string>
        </dict>
    </dict>
</plist>
