<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Charge1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{49,-60}</string>
                <key>spriteSize</key>
                <string>{270,244}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{537,1},{270,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Charge2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{57,-58}</string>
                <key>spriteSize</key>
                <string>{268,236}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1367,1},{268,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Charge3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{52,-57}</string>
                <key>spriteSize</key>
                <string>{284,232}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1637,1},{284,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Charge4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{53,-59}</string>
                <key>spriteSize</key>
                <string>{272,238}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1093,1},{272,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Charge5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{52,-63}</string>
                <key>spriteSize</key>
                <string>{264,250}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1,1},{264,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Charge6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{57,-64}</string>
                <key>spriteSize</key>
                <string>{268,246}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{267,1},{268,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Charge7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{47,-59}</string>
                <key>spriteSize</key>
                <string>{282,238}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{809,1},{282,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Charge.png</string>
            <key>size</key>
            <string>{1922,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b6f59b81a860e694ffad60b46b2ce59a:084cfdecaf7b7bbbb51edeb73541589d:a8d4fd35c052e236385511218382920f$</string>
            <key>textureFileName</key>
            <string>Charge.png</string>
        </dict>
    </dict>
</plist>
