<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Death1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-65}</string>
                <key>spriteSize</key>
                <string>{194,252}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{797,505},{194,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Death10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-90}</string>
                <key>spriteSize</key>
                <string>{290,200}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{499,713},{290,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Death11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-112}</string>
                <key>spriteSize</key>
                <string>{350,156}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{397,361},{350,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Death12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-127}</string>
                <key>spriteSize</key>
                <string>{358,132}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{347,1},{358,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Death13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-127}</string>
                <key>spriteSize</key>
                <string>{366,134}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{261,419},{366,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Death14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-131}</string>
                <key>spriteSize</key>
                <string>{374,128}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1,419},{374,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Death15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-133}</string>
                <key>spriteSize</key>
                <string>{374,128}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{131,419},{374,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Death2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-71}</string>
                <key>spriteSize</key>
                <string>{196,240}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{555,505},{196,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Death3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,-69}</string>
                <key>spriteSize</key>
                <string>{210,244}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{253,795},{210,244}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Death4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,-66}</string>
                <key>spriteSize</key>
                <string>{222,250}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1,795},{222,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Death5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,-65}</string>
                <key>spriteSize</key>
                <string>{232,252}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{701,759},{232,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Death6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-63}</string>
                <key>spriteSize</key>
                <string>{246,254}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{739,257},{246,254}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Death7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-49}</string>
                <key>spriteSize</key>
                <string>{254,282}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{739,1},{254,282}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Death8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-21}</string>
                <key>spriteSize</key>
                <string>{256,338}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{481,1},{256,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Death9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-69,17}</string>
                <key>spriteSize</key>
                <string>{344,416}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1,1},{344,416}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Death.png</string>
            <key>size</key>
            <string>{1022,1018}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7acdb7d8dca4e9fd68dda0b4fda0b6e1:09c1196481259730c43b38b0ad3fd033:134a4a57713f4fd0f120e02a9a98e5b0$</string>
            <key>textureFileName</key>
            <string>Death.png</string>
        </dict>
    </dict>
</plist>
