<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Hurt1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-58}</string>
                <key>spriteSize</key>
                <string>{192,266}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1,1},{192,266}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Hurt2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-45,-61}</string>
                <key>spriteSize</key>
                <string>{220,260}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1,389},{220,260}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Hurt3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-47,-59}</string>
                <key>spriteSize</key>
                <string>{224,264}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1,611},{224,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hurt4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-47,-61}</string>
                <key>spriteSize</key>
                <string>{224,260}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{263,475},{224,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hurt5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,-66}</string>
                <key>spriteSize</key>
                <string>{222,250}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{265,223},{222,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hurt6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-45,-70}</string>
                <key>spriteSize</key>
                <string>{220,242}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{269,1},{220,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Hurt7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-60}</string>
                <key>spriteSize</key>
                <string>{192,262}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1,195},{192,262}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Hurt8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-57}</string>
                <key>spriteSize</key>
                <string>{192,268}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{227,737},{192,268}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Hurt.png</string>
            <key>size</key>
            <string>{512,930}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:febd90a032c81412279ce5b399e25148:6758e5251bc46239d3d99e589ae32541:c824c835982a0baf44dabb892aeea54f$</string>
            <key>textureFileName</key>
            <string>Hurt.png</string>
        </dict>
    </dict>
</plist>
