<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Idle1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{55,-63}</string>
                <key>spriteSize</key>
                <string>{264,270}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1,1},{264,270}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Idle10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{55,-63}</string>
                <key>spriteSize</key>
                <string>{264,270}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{273,1},{264,270}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Idle11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{55,-63}</string>
                <key>spriteSize</key>
                <string>{264,270}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{545,1},{264,270}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Idle12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{55,-63}</string>
                <key>spriteSize</key>
                <string>{264,270}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1,267},{264,270}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Idle13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{55,-63}</string>
                <key>spriteSize</key>
                <string>{264,270}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{273,267},{264,270}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Idle14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{55,-63}</string>
                <key>spriteSize</key>
                <string>{264,270}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{545,267},{264,270}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Idle15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{55,-63}</string>
                <key>spriteSize</key>
                <string>{264,270}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1,533},{264,270}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Idle16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{55,-63}</string>
                <key>spriteSize</key>
                <string>{264,270}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{273,533},{264,270}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Idle2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{55,-63}</string>
                <key>spriteSize</key>
                <string>{264,270}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{545,533},{264,270}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Idle3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{55,-63}</string>
                <key>spriteSize</key>
                <string>{264,270}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1,799},{264,270}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Idle4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{55,-63}</string>
                <key>spriteSize</key>
                <string>{264,270}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{273,799},{264,270}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Idle5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{55,-63}</string>
                <key>spriteSize</key>
                <string>{264,270}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1,267},{264,270}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Idle6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{55,-63}</string>
                <key>spriteSize</key>
                <string>{264,270}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{545,799},{264,270}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Idle7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{55,-63}</string>
                <key>spriteSize</key>
                <string>{264,270}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1,1065},{264,270}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Idle8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{55,-63}</string>
                <key>spriteSize</key>
                <string>{264,270}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{273,1065},{264,270}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Idle9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{55,-63}</string>
                <key>spriteSize</key>
                <string>{264,270}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{545,1065},{264,270}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Idle.png</string>
            <key>size</key>
            <string>{816,1330}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c613502fedb9b4bb995533b66367bfc:ee330d8d8e1c03740c48e8b8480842cf:f4a1cbca3384d0685fe55d1d95fabf79$</string>
            <key>textureFileName</key>
            <string>Idle.png</string>
        </dict>
    </dict>
</plist>
