<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Jump_Attack_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-55}</string>
                <key>spriteSize</key>
                <string>{192,260}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{705,1},{192,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump_Attack_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-65}</string>
                <key>spriteSize</key>
                <string>{198,262}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{355,649},{198,262}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Jump_Attack_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-75}</string>
                <key>spriteSize</key>
                <string>{214,252}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{639,363},{214,252}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Jump_Attack_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-74}</string>
                <key>spriteSize</key>
                <string>{210,248}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{639,579},{210,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Jump_Attack_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{96,-22}</string>
                <key>spriteSize</key>
                <string>{394,342}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1,1},{394,342}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Jump_Attack_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{79,-11}</string>
                <key>spriteSize</key>
                <string>{388,352}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1,397},{388,352}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Jump_Attack_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{75,-7}</string>
                <key>spriteSize</key>
                <string>{360,358}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{345,1},{360,358}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Jump_Attack_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{49,-46}</string>
                <key>spriteSize</key>
                <string>{282,284}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{355,363},{282,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Jump_Attack_1.png</string>
            <key>size</key>
            <string>{898,848}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:525e640f6501a2f4cf4172539590c7b4:243841792add4975b35ce41c510ffc54:afbe3c946fb3f03d38cfc6203a69cb0e$</string>
            <key>textureFileName</key>
            <string>Jump_Attack_1.png</string>
        </dict>
    </dict>
</plist>
