<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Shoot_Bow1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-65}</string>
                <key>spriteSize</key>
                <string>{162,252}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{835,1},{162,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shoot_Bow10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{83,-71}</string>
                <key>spriteSize</key>
                <string>{278,240}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{563,605},{278,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shoot_Bow11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-71}</string>
                <key>spriteSize</key>
                <string>{154,240}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{835,255},{154,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shoot_Bow12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-57}</string>
                <key>spriteSize</key>
                <string>{192,268}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{805,497},{192,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shoot_Bow2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{100,-71}</string>
                <key>spriteSize</key>
                <string>{312,240}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{563,291},{312,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shoot_Bow3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{60,-48}</string>
                <key>spriteSize</key>
                <string>{288,282}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{551,1},{288,282}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shoot_Bow4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-32}</string>
                <key>spriteSize</key>
                <string>{286,312}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1,331},{286,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shoot_Bow5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-37}</string>
                <key>spriteSize</key>
                <string>{286,302}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{275,645},{286,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shoot_Bow6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-24}</string>
                <key>spriteSize</key>
                <string>{274,328}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1,1},{274,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shoot_Bow7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-32}</string>
                <key>spriteSize</key>
                <string>{272,312}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{289,327},{272,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shoot_Bow8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-26}</string>
                <key>spriteSize</key>
                <string>{272,324}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{277,1},{272,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shoot_Bow9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-27}</string>
                <key>spriteSize</key>
                <string>{272,322}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1,645},{272,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Shoot_Bow.png</string>
            <key>size</key>
            <string>{998,968}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c320b469aaa24a717dba1f197cfa97b6:7470389add520a9085aad5e24ca3df64:e025417d78400cb6799b40638a7fffb4$</string>
            <key>textureFileName</key>
            <string>Shoot_Bow.png</string>
        </dict>
    </dict>
</plist>
