<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Walk1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{44,-62}</string>
                <key>spriteSize</key>
                <string>{232,266}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{267,797},{232,266}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Walk10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{58,-55}</string>
                <key>spriteSize</key>
                <string>{280,262}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{313,265},{280,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walk11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{56,-55}</string>
                <key>spriteSize</key>
                <string>{260,262}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{595,267},{260,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walk12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{52,-59}</string>
                <key>spriteSize</key>
                <string>{242,264}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1,789},{242,264}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Walk2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{49,-61}</string>
                <key>spriteSize</key>
                <string>{234,264}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{535,797},{234,264}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Walk3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{52,-60}</string>
                <key>spriteSize</key>
                <string>{240,264}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{607,1},{240,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walk4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{56,-58}</string>
                <key>spriteSize</key>
                <string>{254,264}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{571,531},{254,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walk5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{59,-56}</string>
                <key>spriteSize</key>
                <string>{272,266}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{297,529},{272,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walk6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{61,-57}</string>
                <key>spriteSize</key>
                <string>{290,262}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{315,1},{290,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walk7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{61,-58}</string>
                <key>spriteSize</key>
                <string>{310,260}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1,263},{310,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walk8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{61,-58}</string>
                <key>spriteSize</key>
                <string>{312,260}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1,1},{312,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walk9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{60,-56}</string>
                <key>spriteSize</key>
                <string>{294,262}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1,525},{294,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Walk.png</string>
            <key>size</key>
            <string>{856,1032}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ed696c9b4d905fac6fc8765742a463e9:e41935ae8f2f1a53776b29e71dd95b09:20c87050993b7f325db7de98a0289e42$</string>
            <key>textureFileName</key>
            <string>Walk.png</string>
        </dict>
    </dict>
</plist>
