<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Monster_3-Hurt-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-1}</string>
                <key>spriteSize</key>
                <string>{139,187}</string>
                <key>spriteSourceSize</key>
                <string>{157,191}</string>
                <key>textureRect</key>
                <string>{{1,190},{139,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_3-Hurt-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,189}</string>
                <key>spriteSourceSize</key>
                <string>{157,191}</string>
                <key>textureRect</key>
                <string>{{144,1},{135,189}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Monster_3-Hurt-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{127,189}</string>
                <key>spriteSourceSize</key>
                <string>{157,191}</string>
                <key>textureRect</key>
                <string>{{335,1},{127,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_3-Hurt-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-1}</string>
                <key>spriteSize</key>
                <string>{119,189}</string>
                <key>spriteSourceSize</key>
                <string>{157,191}</string>
                <key>textureRect</key>
                <string>{{144,138},{119,189}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Monster_3-Hurt-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-2}</string>
                <key>spriteSize</key>
                <string>{125,187}</string>
                <key>spriteSourceSize</key>
                <string>{157,191}</string>
                <key>textureRect</key>
                <string>{{1,379},{125,187}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Monster_3-Hurt-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-3}</string>
                <key>spriteSize</key>
                <string>{133,183}</string>
                <key>spriteSourceSize</key>
                <string>{157,191}</string>
                <key>textureRect</key>
                <string>{{331,259},{133,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_3-Hurt-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{139,185}</string>
                <key>spriteSourceSize</key>
                <string>{157,191}</string>
                <key>textureRect</key>
                <string>{{190,259},{139,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_3-Hurt-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-1}</string>
                <key>spriteSize</key>
                <string>{141,187}</string>
                <key>spriteSourceSize</key>
                <string>{157,191}</string>
                <key>textureRect</key>
                <string>{{1,1},{141,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Monster_3-Hurt.png</string>
            <key>size</key>
            <string>{465,505}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b585b6c00a5532351bd05b658fae8f62:46ee5d6fe2cef9c924bcefd4aac719d0:8aa54554e7a9be7ba1ad1b96f1480802$</string>
            <key>textureFileName</key>
            <string>Monster_3-Hurt.png</string>
        </dict>
    </dict>
</plist>
