<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Monster_3-Run-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-5}</string>
                <key>spriteSize</key>
                <string>{154,163}</string>
                <key>spriteSourceSize</key>
                <string>{166,209}</string>
                <key>textureRect</key>
                <string>{{1,357},{154,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Monster_3-Run-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-6}</string>
                <key>spriteSize</key>
                <string>{146,175}</string>
                <key>spriteSourceSize</key>
                <string>{166,209}</string>
                <key>textureRect</key>
                <string>{{1,1},{146,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_3-Run-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,7}</string>
                <key>spriteSize</key>
                <string>{128,187}</string>
                <key>spriteSourceSize</key>
                <string>{166,209}</string>
                <key>textureRect</key>
                <string>{{708,1},{128,187}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Monster_3-Run-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{110,193}</string>
                <key>spriteSourceSize</key>
                <string>{166,209}</string>
                <key>textureRect</key>
                <string>{{149,143},{110,193}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Monster_3-Run-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{100,197}</string>
                <key>spriteSourceSize</key>
                <string>{166,209}</string>
                <key>textureRect</key>
                <string>{{147,255},{100,197}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Monster_3-Run-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{106,199}</string>
                <key>spriteSourceSize</key>
                <string>{166,209}</string>
                <key>textureRect</key>
                <string>{{897,1},{106,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_3-Run-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-2}</string>
                <key>spriteSize</key>
                <string>{112,195}</string>
                <key>spriteSourceSize</key>
                <string>{166,209}</string>
                <key>textureRect</key>
                <string>{{548,285},{112,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_3-Run-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-3}</string>
                <key>spriteSize</key>
                <string>{116,193}</string>
                <key>spriteSourceSize</key>
                <string>{166,209}</string>
                <key>textureRect</key>
                <string>{{166,395},{116,193}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Monster_3-Run-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-7}</string>
                <key>spriteSize</key>
                <string>{118,193}</string>
                <key>spriteSourceSize</key>
                <string>{166,209}</string>
                <key>textureRect</key>
                <string>{{344,135},{118,193}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Monster_3-Run-17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-8}</string>
                <key>spriteSize</key>
                <string>{132,187}</string>
                <key>spriteSourceSize</key>
                <string>{166,209}</string>
                <key>textureRect</key>
                <string>{{332,1},{132,187}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Monster_3-Run-18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{144,177}</string>
                <key>spriteSourceSize</key>
                <string>{166,209}</string>
                <key>textureRect</key>
                <string>{{1,178},{144,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_3-Run-19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-4}</string>
                <key>spriteSize</key>
                <string>{148,167}</string>
                <key>spriteSourceSize</key>
                <string>{166,209}</string>
                <key>textureRect</key>
                <string>{{539,135},{148,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Monster_3-Run-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-7}</string>
                <key>spriteSize</key>
                <string>{140,181}</string>
                <key>spriteSourceSize</key>
                <string>{166,209}</string>
                <key>textureRect</key>
                <string>{{149,1},{140,181}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Monster_3-Run-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-8}</string>
                <key>spriteSize</key>
                <string>{128,185}</string>
                <key>spriteSourceSize</key>
                <string>{166,209}</string>
                <key>textureRect</key>
                <string>{{346,255},{128,185}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Monster_3-Run-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-8}</string>
                <key>spriteSize</key>
                <string>{126,185}</string>
                <key>spriteSourceSize</key>
                <string>{166,209}</string>
                <key>textureRect</key>
                <string>{{361,385},{126,185}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Monster_3-Run-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-7}</string>
                <key>spriteSize</key>
                <string>{132,185}</string>
                <key>spriteSourceSize</key>
                <string>{166,209}</string>
                <key>textureRect</key>
                <string>{{521,1},{132,185}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Monster_3-Run-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-9}</string>
                <key>spriteSize</key>
                <string>{126,187}</string>
                <key>spriteSourceSize</key>
                <string>{166,209}</string>
                <key>textureRect</key>
                <string>{{708,131},{126,187}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Monster_3-Run-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-10}</string>
                <key>spriteSize</key>
                <string>{114,183}</string>
                <key>spriteSourceSize</key>
                <string>{166,209}</string>
                <key>textureRect</key>
                <string>{{772,259},{114,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_3-Run-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{106,191}</string>
                <key>spriteSourceSize</key>
                <string>{166,209}</string>
                <key>textureRect</key>
                <string>{{897,202},{106,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_3-Run-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,5}</string>
                <key>spriteSize</key>
                <string>{108,193}</string>
                <key>spriteSourceSize</key>
                <string>{166,209}</string>
                <key>textureRect</key>
                <string>{{662,285},{108,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Monster_3-Run.png</string>
            <key>size</key>
            <string>{1004,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f22eeb29f17f277b405606fef350497c:89ff3ce031272b5a21c517e06dc8baf0:d945e75c794b2f477d6dda604638b701$</string>
            <key>textureFileName</key>
            <string>Monster_3-Run.png</string>
        </dict>
    </dict>
</plist>
