<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Monster_3-Jump-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-26}</string>
                <key>spriteSize</key>
                <string>{138,188}</string>
                <key>spriteSourceSize</key>
                <string>{144,250}</string>
                <key>textureRect</key>
                <string>{{1,911},{138,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Monster_3-Jump-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-30}</string>
                <key>spriteSize</key>
                <string>{138,184}</string>
                <key>spriteSourceSize</key>
                <string>{144,250}</string>
                <key>textureRect</key>
                <string>{{337,707},{138,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_3-Jump-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,33}</string>
                <key>spriteSize</key>
                <string>{126,184}</string>
                <key>spriteSourceSize</key>
                <string>{144,250}</string>
                <key>textureRect</key>
                <string>{{1,251},{126,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Monster_3-Jump-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,20}</string>
                <key>spriteSize</key>
                <string>{126,182}</string>
                <key>spriteSourceSize</key>
                <string>{144,250}</string>
                <key>textureRect</key>
                <string>{{187,255},{126,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Monster_3-Jump-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,6}</string>
                <key>spriteSize</key>
                <string>{126,178}</string>
                <key>spriteSourceSize</key>
                <string>{144,250}</string>
                <key>textureRect</key>
                <string>{{197,127},{126,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Monster_3-Jump-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-5}</string>
                <key>spriteSize</key>
                <string>{124,178}</string>
                <key>spriteSourceSize</key>
                <string>{144,250}</string>
                <key>textureRect</key>
                <string>{{199,1},{124,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Monster_3-Jump-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-16}</string>
                <key>spriteSize</key>
                <string>{126,176}</string>
                <key>spriteSourceSize</key>
                <string>{144,250}</string>
                <key>textureRect</key>
                <string>{{1,379},{126,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Monster_3-Jump-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-28}</string>
                <key>spriteSize</key>
                <string>{128,172}</string>
                <key>spriteSourceSize</key>
                <string>{144,250}</string>
                <key>textureRect</key>
                <string>{{179,383},{128,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Monster_3-Jump-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-38}</string>
                <key>spriteSize</key>
                <string>{128,170}</string>
                <key>spriteSourceSize</key>
                <string>{144,250}</string>
                <key>textureRect</key>
                <string>{{379,1},{128,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_3-Jump-17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-36}</string>
                <key>spriteSize</key>
                <string>{134,176}</string>
                <key>spriteSourceSize</key>
                <string>{144,250}</string>
                <key>textureRect</key>
                <string>{{371,345},{134,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_3-Jump-18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-33}</string>
                <key>spriteSize</key>
                <string>{136,182}</string>
                <key>spriteSourceSize</key>
                <string>{144,250}</string>
                <key>textureRect</key>
                <string>{{363,523},{136,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_3-Jump-19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-30}</string>
                <key>spriteSize</key>
                <string>{138,184}</string>
                <key>spriteSourceSize</key>
                <string>{144,250}</string>
                <key>textureRect</key>
                <string>{{195,831},{138,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_3-Jump-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-33}</string>
                <key>spriteSize</key>
                <string>{136,182}</string>
                <key>spriteSourceSize</key>
                <string>{144,250}</string>
                <key>textureRect</key>
                <string>{{199,647},{136,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_3-Jump-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-36}</string>
                <key>spriteSize</key>
                <string>{134,176}</string>
                <key>spriteSourceSize</key>
                <string>{144,250}</string>
                <key>textureRect</key>
                <string>{{1,507},{134,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Monster_3-Jump-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-39}</string>
                <key>spriteSize</key>
                <string>{128,170}</string>
                <key>spriteSourceSize</key>
                <string>{144,250}</string>
                <key>textureRect</key>
                <string>{{377,173},{128,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_3-Jump-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-23}</string>
                <key>spriteSize</key>
                <string>{132,182}</string>
                <key>spriteSourceSize</key>
                <string>{144,250}</string>
                <key>textureRect</key>
                <string>{{179,513},{132,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Monster_3-Jump-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{132,192}</string>
                <key>spriteSourceSize</key>
                <string>{144,250}</string>
                <key>textureRect</key>
                <string>{{1,777},{132,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Monster_3-Jump-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,6}</string>
                <key>spriteSize</key>
                <string>{128,196}</string>
                <key>spriteSourceSize</key>
                <string>{144,250}</string>
                <key>textureRect</key>
                <string>{{1,647},{128,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Monster_3-Jump-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,20}</string>
                <key>spriteSize</key>
                <string>{122,196}</string>
                <key>spriteSourceSize</key>
                <string>{144,250}</string>
                <key>textureRect</key>
                <string>{{1,1},{122,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Monster_3-Jump-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,25}</string>
                <key>spriteSize</key>
                <string>{124,194}</string>
                <key>spriteSourceSize</key>
                <string>{144,250}</string>
                <key>textureRect</key>
                <string>{{1,125},{124,194}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Monster_3-Jump.png</string>
            <key>size</key>
            <string>{508,1050}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb8a05d777f094789c3d839a2c6e8618:7e50683a4cec5263d972ef6fc866cfc1:d4f83bde3c525c87fd11d4ee19d028dc$</string>
            <key>textureFileName</key>
            <string>Monster_3-Jump.png</string>
        </dict>
    </dict>
</plist>
