<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Attack_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-57}</string>
                <key>spriteSize</key>
                <string>{174,222}</string>
                <key>spriteSourceSize</key>
                <string>{700,400}</string>
                <key>textureRect</key>
                <string>{{1,775},{174,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-63}</string>
                <key>spriteSize</key>
                <string>{186,212}</string>
                <key>spriteSourceSize</key>
                <string>{700,400}</string>
                <key>textureRect</key>
                <string>{{1,1219},{186,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,-68}</string>
                <key>spriteSize</key>
                <string>{244,200}</string>
                <key>spriteSourceSize</key>
                <string>{700,400}</string>
                <key>textureRect</key>
                <string>{{1,529},{244,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Attack_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{59,-70}</string>
                <key>spriteSize</key>
                <string>{270,188}</string>
                <key>spriteSourceSize</key>
                <string>{700,400}</string>
                <key>textureRect</key>
                <string>{{1,1},{270,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Attack_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{46,-69}</string>
                <key>spriteSize</key>
                <string>{254,196}</string>
                <key>spriteSourceSize</key>
                <string>{700,400}</string>
                <key>textureRect</key>
                <string>{{1,273},{254,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Attack_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-66}</string>
                <key>spriteSize</key>
                <string>{198,206}</string>
                <key>spriteSourceSize</key>
                <string>{700,400}</string>
                <key>textureRect</key>
                <string>{{1,1433},{198,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-60}</string>
                <key>spriteSize</key>
                <string>{182,218}</string>
                <key>spriteSourceSize</key>
                <string>{700,400}</string>
                <key>textureRect</key>
                <string>{{1,999},{182,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Attack_2.png</string>
            <key>size</key>
            <string>{202,1640}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b27fd7edd2ad8cbaa14ec990e7d69a24:199bcb3e0f768efc8ebadaf416fda7ab:0728f8e3137ad5638add573641fc21bb$</string>
            <key>textureFileName</key>
            <string>Attack_2.png</string>
        </dict>
    </dict>
</plist>
