<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Jump1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-58}</string>
                <key>spriteSize</key>
                <string>{186,220}</string>
                <key>spriteSourceSize</key>
                <string>{700,400}</string>
                <key>textureRect</key>
                <string>{{177,1},{186,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-57}</string>
                <key>spriteSize</key>
                <string>{174,222}</string>
                <key>spriteSourceSize</key>
                <string>{700,400}</string>
                <key>textureRect</key>
                <string>{{1,1},{174,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-58}</string>
                <key>spriteSize</key>
                <string>{174,218}</string>
                <key>spriteSourceSize</key>
                <string>{700,400}</string>
                <key>textureRect</key>
                <string>{{365,1},{174,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-57}</string>
                <key>spriteSize</key>
                <string>{172,214}</string>
                <key>spriteSourceSize</key>
                <string>{700,400}</string>
                <key>textureRect</key>
                <string>{{1031,1},{172,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-56}</string>
                <key>spriteSize</key>
                <string>{168,210}</string>
                <key>spriteSourceSize</key>
                <string>{700,400}</string>
                <key>textureRect</key>
                <string>{{1205,1},{168,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-56}</string>
                <key>spriteSize</key>
                <string>{166,210}</string>
                <key>spriteSourceSize</key>
                <string>{700,400}</string>
                <key>textureRect</key>
                <string>{{1375,1},{166,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-56}</string>
                <key>spriteSize</key>
                <string>{166,216}</string>
                <key>spriteSourceSize</key>
                <string>{700,400}</string>
                <key>textureRect</key>
                <string>{{541,1},{166,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-55}</string>
                <key>spriteSize</key>
                <string>{160,216}</string>
                <key>spriteSourceSize</key>
                <string>{700,400}</string>
                <key>textureRect</key>
                <string>{{709,1},{160,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-57}</string>
                <key>spriteSize</key>
                <string>{158,216}</string>
                <key>spriteSourceSize</key>
                <string>{700,400}</string>
                <key>textureRect</key>
                <string>{{871,1},{158,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-58}</string>
                <key>spriteSize</key>
                <string>{186,220}</string>
                <key>spriteSourceSize</key>
                <string>{700,400}</string>
                <key>textureRect</key>
                <string>{{177,1},{186,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Jump.png</string>
            <key>size</key>
            <string>{1542,224}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aa2c6ca0034f665773c5cc4f11418ee6:b45bb0680ebd2285e06289ecacd890d0:9f2b93a6dfdd09b8f66aa3ab0849d73e$</string>
            <key>textureFileName</key>
            <string>Jump.png</string>
        </dict>
    </dict>
</plist>
