<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Warrior-Attack1-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{36,48}</string>
                <key>spriteSourceSize</key>
                <string>{162,162}</string>
                <key>textureRect</key>
                <string>{{639,1},{36,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Warrior-Attack1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,2}</string>
                <key>spriteSize</key>
                <string>{72,46}</string>
                <key>spriteSourceSize</key>
                <string>{162,162}</string>
                <key>textureRect</key>
                <string>{{199,209},{72,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Warrior-Attack1-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,2}</string>
                <key>spriteSize</key>
                <string>{66,46}</string>
                <key>spriteSourceSize</key>
                <string>{162,162}</string>
                <key>textureRect</key>
                <string>{{321,77},{66,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Warrior-Attack1-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,2}</string>
                <key>spriteSize</key>
                <string>{62,46}</string>
                <key>spriteSourceSize</key>
                <string>{162,162}</string>
                <key>textureRect</key>
                <string>{{413,193},{62,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Warrior-Attack1-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,6}</string>
                <key>spriteSize</key>
                <string>{74,54}</string>
                <key>spriteSourceSize</key>
                <string>{162,162}</string>
                <key>textureRect</key>
                <string>{{301,1},{74,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Warrior-Attack1-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,4}</string>
                <key>spriteSize</key>
                <string>{72,50}</string>
                <key>spriteSourceSize</key>
                <string>{162,162}</string>
                <key>textureRect</key>
                <string>{{273,205},{72,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Warrior-Attack1-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,10}</string>
                <key>spriteSize</key>
                <string>{68,62}</string>
                <key>spriteSourceSize</key>
                <string>{162,162}</string>
                <key>textureRect</key>
                <string>{{357,1},{68,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Warrior-Attack2-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,4}</string>
                <key>spriteSize</key>
                <string>{46,50}</string>
                <key>spriteSourceSize</key>
                <string>{162,162}</string>
                <key>textureRect</key>
                <string>{{585,59},{46,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Warrior-Attack2-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,8}</string>
                <key>spriteSize</key>
                <string>{44,58}</string>
                <key>spriteSourceSize</key>
                <string>{162,162}</string>
                <key>textureRect</key>
                <string>{{455,63},{44,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Warrior-Attack2-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,10}</string>
                <key>spriteSize</key>
                <string>{116,64}</string>
                <key>spriteSourceSize</key>
                <string>{162,162}</string>
                <key>textureRect</key>
                <string>{{1,135},{116,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Warrior-Attack2-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,11}</string>
                <key>spriteSize</key>
                <string>{60,64}</string>
                <key>spriteSourceSize</key>
                <string>{162,162}</string>
                <key>textureRect</key>
                <string>{{347,195},{60,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Warrior-Attack2-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,15}</string>
                <key>spriteSize</key>
                <string>{122,72}</string>
                <key>spriteSourceSize</key>
                <string>{162,162}</string>
                <key>textureRect</key>
                <string>{{185,1},{122,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Warrior-Attack2-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,11}</string>
                <key>spriteSize</key>
                <string>{66,64}</string>
                <key>spriteSourceSize</key>
                <string>{162,162}</string>
                <key>textureRect</key>
                <string>{{383,125},{66,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Warrior-Attack2-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,19}</string>
                <key>spriteSize</key>
                <string>{122,80}</string>
                <key>spriteSourceSize</key>
                <string>{162,162}</string>
                <key>textureRect</key>
                <string>{{103,1},{122,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Warrior-Attack3-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,11}</string>
                <key>spriteSize</key>
                <string>{58,64}</string>
                <key>spriteSourceSize</key>
                <string>{162,162}</string>
                <key>textureRect</key>
                <string>{{449,123},{58,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Warrior-Attack3-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,17}</string>
                <key>spriteSize</key>
                <string>{40,76}</string>
                <key>spriteSourceSize</key>
                <string>{162,162}</string>
                <key>textureRect</key>
                <string>{{259,1},{40,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Warrior-Attack3-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,18}</string>
                <key>spriteSize</key>
                <string>{38,78}</string>
                <key>spriteSourceSize</key>
                <string>{162,162}</string>
                <key>textureRect</key>
                <string>{{253,125},{38,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Warrior-Attack3-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,8}</string>
                <key>spriteSize</key>
                <string>{60,58}</string>
                <key>spriteSourceSize</key>
                <string>{162,162}</string>
                <key>textureRect</key>
                <string>{{421,1},{60,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Warrior-Attack3-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,29}</string>
                <key>spriteSize</key>
                <string>{132,100}</string>
                <key>spriteSourceSize</key>
                <string>{162,162}</string>
                <key>textureRect</key>
                <string>{{1,1},{132,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Warrior-Attack3-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,5}</string>
                <key>spriteSize</key>
                <string>{82,52}</string>
                <key>spriteSourceSize</key>
                <string>{162,162}</string>
                <key>textureRect</key>
                <string>{{199,125},{82,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Warrior-Attack3-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,30}</string>
                <key>spriteSize</key>
                <string>{130,102}</string>
                <key>spriteSourceSize</key>
                <string>{162,162}</string>
                <key>textureRect</key>
                <string>{{67,135},{130,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Warrior-Attack3-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-2}</string>
                <key>spriteSize</key>
                <string>{70,38}</string>
                <key>spriteSourceSize</key>
                <string>{162,162}</string>
                <key>textureRect</key>
                <string>{{293,125},{70,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Warrior-Death-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{46,44}</string>
                <key>spriteSourceSize</key>
                <string>{162,54}</string>
                <key>textureRect</key>
                <string>{{603,211},{46,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Warrior-Death-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,2}</string>
                <key>spriteSize</key>
                <string>{42,46}</string>
                <key>spriteSourceSize</key>
                <string>{162,54}</string>
                <key>textureRect</key>
                <string>{{639,101},{42,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Warrior-Death-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,2}</string>
                <key>spriteSize</key>
                <string>{40,46}</string>
                <key>spriteSourceSize</key>
                <string>{162,54}</string>
                <key>textureRect</key>
                <string>{{651,197},{40,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Warrior-Death-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,1}</string>
                <key>spriteSize</key>
                <string>{36,44}</string>
                <key>spriteSourceSize</key>
                <string>{162,54}</string>
                <key>textureRect</key>
                <string>{{725,97},{36,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Warrior-Death-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-7}</string>
                <key>spriteSize</key>
                <string>{44,28}</string>
                <key>spriteSourceSize</key>
                <string>{162,54}</string>
                <key>textureRect</key>
                <string>{{557,227},{44,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Warrior-Death-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-8}</string>
                <key>spriteSize</key>
                <string>{60,26}</string>
                <key>spriteSourceSize</key>
                <string>{162,54}</string>
                <key>textureRect</key>
                <string>{{525,1},{60,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Warrior-Death-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-16}</string>
                <key>spriteSize</key>
                <string>{58,10}</string>
                <key>spriteSourceSize</key>
                <string>{162,54}</string>
                <key>textureRect</key>
                <string>{{67,239},{58,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Warrior-Fall-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,13}</string>
                <key>spriteSize</key>
                <string>{48,68}</string>
                <key>spriteSourceSize</key>
                <string>{54,162}</string>
                <key>textureRect</key>
                <string>{{333,125},{48,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Warrior-Fall-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,11}</string>
                <key>spriteSize</key>
                <string>{48,64}</string>
                <key>spriteSourceSize</key>
                <string>{54,162}</string>
                <key>textureRect</key>
                <string>{{461,189},{48,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Warrior-Fall-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,11}</string>
                <key>spriteSize</key>
                <string>{50,64}</string>
                <key>spriteSourceSize</key>
                <string>{54,162}</string>
                <key>textureRect</key>
                <string>{{389,71},{50,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Warrior-Idle-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,3}</string>
                <key>spriteSize</key>
                <string>{42,48}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{595,1},{42,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Warrior-Idle-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,3}</string>
                <key>spriteSize</key>
                <string>{40,48}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{633,51},{40,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Warrior-Idle-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,3}</string>
                <key>spriteSize</key>
                <string>{36,48}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{601,161},{36,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Warrior-Idle-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,2}</string>
                <key>spriteSize</key>
                <string>{36,46}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{683,147},{36,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Warrior-Idle-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,2}</string>
                <key>spriteSize</key>
                <string>{36,46}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{693,195},{36,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Warrior-Idle-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,2}</string>
                <key>spriteSize</key>
                <string>{40,46}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{683,99},{40,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Warrior-Idle-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,2}</string>
                <key>spriteSize</key>
                <string>{42,46}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{675,51},{42,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Warrior-Idle-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,2}</string>
                <key>spriteSize</key>
                <string>{42,46}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{677,1},{42,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Warrior-Idle-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,3}</string>
                <key>spriteSize</key>
                <string>{42,48}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{557,177},{42,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Warrior-Idle-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,3}</string>
                <key>spriteSize</key>
                <string>{42,48}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{595,111},{42,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Warrior-Jump-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{42,46}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{639,149},{42,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Warrior-Jump-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{38,46}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{721,1},{38,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Warrior-Jump-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{40,46}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{719,49},{40,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Warrior-Run-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{54,44}</string>
                <key>spriteSourceSize</key>
                <string>{162,54}</string>
                <key>textureRect</key>
                <string>{{511,181},{54,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Warrior-Run-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{56,40}</string>
                <key>spriteSourceSize</key>
                <string>{162,54}</string>
                <key>textureRect</key>
                <string>{{553,1},{56,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Warrior-Run-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-1}</string>
                <key>spriteSize</key>
                <string>{54,40}</string>
                <key>spriteSourceSize</key>
                <string>{162,54}</string>
                <key>textureRect</key>
                <string>{{553,121},{54,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Warrior-Run-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{56,42}</string>
                <key>spriteSourceSize</key>
                <string>{162,54}</string>
                <key>textureRect</key>
                <string>{{509,123},{56,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Warrior-Run-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{60,44}</string>
                <key>spriteSourceSize</key>
                <string>{162,54}</string>
                <key>textureRect</key>
                <string>{{259,79},{60,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Warrior-Run-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{60,42}</string>
                <key>spriteSourceSize</key>
                <string>{162,54}</string>
                <key>textureRect</key>
                <string>{{481,1},{60,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Warrior-Run-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{58,38}</string>
                <key>spriteSourceSize</key>
                <string>{162,54}</string>
                <key>textureRect</key>
                <string>{{501,63},{58,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Warrior-Run-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{56,42}</string>
                <key>spriteSourceSize</key>
                <string>{162,54}</string>
                <key>textureRect</key>
                <string>{{541,63},{56,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Warrior-Take hit-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{36,44}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{731,193},{36,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Warrior-Take hit-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{38,44}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{721,147},{38,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Warrior-Take hit-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{46,44}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{603,211},{46,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Warrior.png</string>
            <key>size</key>
            <string>{768,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:17900a8fcca5cfeaa2ceedb034b49277:82e9cd31c0ded7acd3cc49e94832d6c2:643a8d5b8f8b8b741e33bbe8244f0ab7$</string>
            <key>textureFileName</key>
            <string>Warrior.png</string>
        </dict>
    </dict>
</plist>
