<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Idle-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{171,117}</string>
                <key>spriteSourceSize</key>
                <string>{175,119}</string>
                <key>textureRect</key>
                <string>{{351,846},{171,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{171,117}</string>
                <key>spriteSourceSize</key>
                <string>{175,119}</string>
                <key>textureRect</key>
                <string>{{526,725},{171,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{173,119}</string>
                <key>spriteSourceSize</key>
                <string>{175,119}</string>
                <key>textureRect</key>
                <string>{{1,1},{173,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{173,119}</string>
                <key>spriteSourceSize</key>
                <string>{175,119}</string>
                <key>textureRect</key>
                <string>{{1,122},{173,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{173,119}</string>
                <key>spriteSourceSize</key>
                <string>{175,119}</string>
                <key>textureRect</key>
                <string>{{176,1},{173,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{173,119}</string>
                <key>spriteSourceSize</key>
                <string>{175,119}</string>
                <key>textureRect</key>
                <string>{{1,243},{173,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{173,119}</string>
                <key>spriteSourceSize</key>
                <string>{175,119}</string>
                <key>textureRect</key>
                <string>{{176,122},{173,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{173,119}</string>
                <key>spriteSourceSize</key>
                <string>{175,119}</string>
                <key>textureRect</key>
                <string>{{351,1},{173,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{173,119}</string>
                <key>spriteSourceSize</key>
                <string>{175,119}</string>
                <key>textureRect</key>
                <string>{{1,364},{173,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle-17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{173,119}</string>
                <key>spriteSourceSize</key>
                <string>{175,119}</string>
                <key>textureRect</key>
                <string>{{176,243},{173,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle-18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{173,119}</string>
                <key>spriteSourceSize</key>
                <string>{175,119}</string>
                <key>textureRect</key>
                <string>{{351,122},{173,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle-19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{173,119}</string>
                <key>spriteSourceSize</key>
                <string>{175,119}</string>
                <key>textureRect</key>
                <string>{{526,1},{173,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{171,117}</string>
                <key>spriteSourceSize</key>
                <string>{175,119}</string>
                <key>textureRect</key>
                <string>{{701,606},{171,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle-20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{173,119}</string>
                <key>spriteSourceSize</key>
                <string>{175,119}</string>
                <key>textureRect</key>
                <string>{{1,485},{173,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle-21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{173,117}</string>
                <key>spriteSourceSize</key>
                <string>{175,119}</string>
                <key>textureRect</key>
                <string>{{876,1},{173,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Idle-22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{171,117}</string>
                <key>spriteSourceSize</key>
                <string>{175,119}</string>
                <key>textureRect</key>
                <string>{{699,725},{171,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle-23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{171,117}</string>
                <key>spriteSourceSize</key>
                <string>{175,119}</string>
                <key>textureRect</key>
                <string>{{526,844},{171,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle-24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{171,117}</string>
                <key>spriteSourceSize</key>
                <string>{175,119}</string>
                <key>textureRect</key>
                <string>{{524,963},{171,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle-25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{171,117}</string>
                <key>spriteSourceSize</key>
                <string>{175,119}</string>
                <key>textureRect</key>
                <string>{{697,963},{171,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle-26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{171,117}</string>
                <key>spriteSourceSize</key>
                <string>{175,119}</string>
                <key>textureRect</key>
                <string>{{699,844},{171,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle-27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{171,117}</string>
                <key>spriteSourceSize</key>
                <string>{175,119}</string>
                <key>textureRect</key>
                <string>{{872,725},{171,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Idle-28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{173,117}</string>
                <key>spriteSourceSize</key>
                <string>{175,119}</string>
                <key>textureRect</key>
                <string>{{876,176},{173,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Idle-29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{173,119}</string>
                <key>spriteSourceSize</key>
                <string>{175,119}</string>
                <key>textureRect</key>
                <string>{{176,364},{173,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{173,117}</string>
                <key>spriteSourceSize</key>
                <string>{175,119}</string>
                <key>textureRect</key>
                <string>{{876,351},{173,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Idle-30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{173,119}</string>
                <key>spriteSourceSize</key>
                <string>{175,119}</string>
                <key>textureRect</key>
                <string>{{351,243},{173,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle-31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{173,119}</string>
                <key>spriteSourceSize</key>
                <string>{175,119}</string>
                <key>textureRect</key>
                <string>{{526,122},{173,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle-32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{173,119}</string>
                <key>spriteSourceSize</key>
                <string>{175,119}</string>
                <key>textureRect</key>
                <string>{{701,1},{173,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle-33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{173,119}</string>
                <key>spriteSourceSize</key>
                <string>{175,119}</string>
                <key>textureRect</key>
                <string>{{701,122},{173,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle-34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{173,119}</string>
                <key>spriteSourceSize</key>
                <string>{175,119}</string>
                <key>textureRect</key>
                <string>{{1,606},{173,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle-35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{173,119}</string>
                <key>spriteSourceSize</key>
                <string>{175,119}</string>
                <key>textureRect</key>
                <string>{{176,485},{173,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle-36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{173,119}</string>
                <key>spriteSourceSize</key>
                <string>{175,119}</string>
                <key>textureRect</key>
                <string>{{351,364},{173,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle-37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{173,119}</string>
                <key>spriteSourceSize</key>
                <string>{175,119}</string>
                <key>textureRect</key>
                <string>{{526,243},{173,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle-38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{173,119}</string>
                <key>spriteSourceSize</key>
                <string>{175,119}</string>
                <key>textureRect</key>
                <string>{{701,243},{173,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle-39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{173,119}</string>
                <key>spriteSourceSize</key>
                <string>{175,119}</string>
                <key>textureRect</key>
                <string>{{1,727},{173,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{173,117}</string>
                <key>spriteSourceSize</key>
                <string>{175,119}</string>
                <key>textureRect</key>
                <string>{{876,526},{173,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Idle-40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{173,119}</string>
                <key>spriteSourceSize</key>
                <string>{175,119}</string>
                <key>textureRect</key>
                <string>{{176,606},{173,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle-41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{173,119}</string>
                <key>spriteSourceSize</key>
                <string>{175,119}</string>
                <key>textureRect</key>
                <string>{{351,485},{173,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle-42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{173,119}</string>
                <key>spriteSourceSize</key>
                <string>{175,119}</string>
                <key>textureRect</key>
                <string>{{526,364},{173,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle-43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{173,119}</string>
                <key>spriteSourceSize</key>
                <string>{175,119}</string>
                <key>textureRect</key>
                <string>{{701,364},{173,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle-44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{173,119}</string>
                <key>spriteSourceSize</key>
                <string>{175,119}</string>
                <key>textureRect</key>
                <string>{{1,848},{173,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle-45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{173,117}</string>
                <key>spriteSourceSize</key>
                <string>{175,119}</string>
                <key>textureRect</key>
                <string>{{351,727},{173,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle-46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{173,117}</string>
                <key>spriteSourceSize</key>
                <string>{175,119}</string>
                <key>textureRect</key>
                <string>{{526,606},{173,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle-47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{171,117}</string>
                <key>spriteSourceSize</key>
                <string>{175,119}</string>
                <key>textureRect</key>
                <string>{{872,898},{171,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Idle-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{173,119}</string>
                <key>spriteSourceSize</key>
                <string>{175,119}</string>
                <key>textureRect</key>
                <string>{{176,727},{173,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{173,119}</string>
                <key>spriteSourceSize</key>
                <string>{175,119}</string>
                <key>textureRect</key>
                <string>{{351,606},{173,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{173,119}</string>
                <key>spriteSourceSize</key>
                <string>{175,119}</string>
                <key>textureRect</key>
                <string>{{526,485},{173,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{173,119}</string>
                <key>spriteSourceSize</key>
                <string>{175,119}</string>
                <key>textureRect</key>
                <string>{{701,485},{173,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{173,119}</string>
                <key>spriteSourceSize</key>
                <string>{175,119}</string>
                <key>textureRect</key>
                <string>{{176,848},{173,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Idle.png</string>
            <key>size</key>
            <string>{994,1081}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:766bd35be4d924f5b65681aaddf2ea4b:99b126f8f7c3d2d28cc7cd7031c20f04:f4a1cbca3384d0685fe55d1d95fabf79$</string>
            <key>textureFileName</key>
            <string>Idle.png</string>
        </dict>
    </dict>
</plist>
