<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Walk_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{44,-62}</string>
                <key>spriteSize</key>
                <string>{232,266}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{581,783},{232,266}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Walk_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{61,-57}</string>
                <key>spriteSize</key>
                <string>{300,262}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1,789},{300,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walk_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{61,-58}</string>
                <key>spriteSize</key>
                <string>{310,260}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{325,1},{310,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walk_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{61,-58}</string>
                <key>spriteSize</key>
                <string>{322,260}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1,1},{322,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walk_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{61,-58}</string>
                <key>spriteSize</key>
                <string>{312,260}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1,263},{312,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walk_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{60,-57}</string>
                <key>spriteSize</key>
                <string>{304,262}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1,525},{304,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walk_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{60,-56}</string>
                <key>spriteSize</key>
                <string>{294,262}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1,1053},{294,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walk_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{59,-56}</string>
                <key>spriteSize</key>
                <string>{288,262}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1,1581},{288,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walk_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{58,-55}</string>
                <key>spriteSize</key>
                <string>{280,262}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{599,267},{280,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walk_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{57,-54}</string>
                <key>spriteSize</key>
                <string>{272,264}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{307,529},{272,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walk_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{56,-55}</string>
                <key>spriteSize</key>
                <string>{260,262}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{291,1583},{260,262}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Walk_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{49,-61}</string>
                <key>spriteSize</key>
                <string>{234,264}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{577,1017},{234,264}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Walk_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{55,-57}</string>
                <key>spriteSize</key>
                <string>{250,264}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{581,531},{250,264}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Walk_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{52,-59}</string>
                <key>spriteSize</key>
                <string>{242,264}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{637,1},{242,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walk_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{50,-61}</string>
                <key>spriteSize</key>
                <string>{234,264}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{563,1253},{234,264}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Walk_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{52,-60}</string>
                <key>spriteSize</key>
                <string>{240,264}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{559,1489},{240,264}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Walk_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{54,-59}</string>
                <key>spriteSize</key>
                <string>{246,264}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{555,1731},{246,264}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Walk_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{56,-58}</string>
                <key>spriteSize</key>
                <string>{254,264}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{297,1063},{254,264}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Walk_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{58,-56}</string>
                <key>spriteSize</key>
                <string>{262,264}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{293,1319},{262,264}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Walk_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{59,-56}</string>
                <key>spriteSize</key>
                <string>{272,266}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{303,795},{272,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walk_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{59,-56}</string>
                <key>spriteSize</key>
                <string>{282,264}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{315,263},{282,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walk_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{61,-57}</string>
                <key>spriteSize</key>
                <string>{290,262}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1,1317},{290,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Walk.png</string>
            <key>size</key>
            <string>{880,1978}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7fea5fd0c405e39054b6c00d0f288e49:a74a1b502f9aa01d48fee7e8d59d7f51:20c87050993b7f325db7de98a0289e42$</string>
            <key>textureFileName</key>
            <string>Walk.png</string>
        </dict>
    </dict>
</plist>
