<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Monster_2-Jump-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-52}</string>
                <key>spriteSize</key>
                <string>{228,184}</string>
                <key>spriteSourceSize</key>
                <string>{238,304}</string>
                <key>textureRect</key>
                <string>{{621,479},{228,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Monster_2-Jump-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-54}</string>
                <key>spriteSize</key>
                <string>{226,182}</string>
                <key>spriteSourceSize</key>
                <string>{238,304}</string>
                <key>textureRect</key>
                <string>{{647,709},{226,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Monster_2-Jump-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-17}</string>
                <key>spriteSize</key>
                <string>{206,242}</string>
                <key>spriteSourceSize</key>
                <string>{238,304}</string>
                <key>textureRect</key>
                <string>{{209,499},{206,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Jump-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-1}</string>
                <key>spriteSize</key>
                <string>{206,250}</string>
                <key>spriteSourceSize</key>
                <string>{238,304}</string>
                <key>textureRect</key>
                <string>{{1,517},{206,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Jump-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,15}</string>
                <key>spriteSize</key>
                <string>{206,258}</string>
                <key>spriteSourceSize</key>
                <string>{238,304}</string>
                <key>textureRect</key>
                <string>{{1,1},{206,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Jump-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,20}</string>
                <key>spriteSize</key>
                <string>{206,254}</string>
                <key>spriteSourceSize</key>
                <string>{238,304}</string>
                <key>textureRect</key>
                <string>{{1,261},{206,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Jump-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,23}</string>
                <key>spriteSize</key>
                <string>{206,250}</string>
                <key>spriteSourceSize</key>
                <string>{238,304}</string>
                <key>textureRect</key>
                <string>{{209,1},{206,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Jump-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,26}</string>
                <key>spriteSize</key>
                <string>{206,244}</string>
                <key>spriteSourceSize</key>
                <string>{238,304}</string>
                <key>textureRect</key>
                <string>{{209,253},{206,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Jump-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,30}</string>
                <key>spriteSize</key>
                <string>{204,240}</string>
                <key>spriteSourceSize</key>
                <string>{238,304}</string>
                <key>textureRect</key>
                <string>{{417,1},{204,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Jump-17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,33}</string>
                <key>spriteSize</key>
                <string>{202,234}</string>
                <key>spriteSourceSize</key>
                <string>{238,304}</string>
                <key>textureRect</key>
                <string>{{417,479},{202,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Jump-18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,36}</string>
                <key>spriteSize</key>
                <string>{200,228}</string>
                <key>spriteSourceSize</key>
                <string>{238,304}</string>
                <key>textureRect</key>
                <string>{{445,715},{200,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Jump-19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,22}</string>
                <key>spriteSize</key>
                <string>{186,224}</string>
                <key>spriteSourceSize</key>
                <string>{238,304}</string>
                <key>textureRect</key>
                <string>{{1,769},{186,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Monster_2-Jump-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-55}</string>
                <key>spriteSize</key>
                <string>{226,180}</string>
                <key>spriteSourceSize</key>
                <string>{238,304}</string>
                <key>textureRect</key>
                <string>{{623,229},{226,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Monster_2-Jump-20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,4}</string>
                <key>spriteSize</key>
                <string>{166,218}</string>
                <key>spriteSourceSize</key>
                <string>{238,304}</string>
                <key>textureRect</key>
                <string>{{1009,549},{166,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Monster_2-Jump-21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-12}</string>
                <key>spriteSize</key>
                <string>{160,208}</string>
                <key>spriteSourceSize</key>
                <string>{238,304}</string>
                <key>textureRect</key>
                <string>{{1231,1},{160,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Monster_2-Jump-22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-27}</string>
                <key>spriteSize</key>
                <string>{178,198}</string>
                <key>spriteSourceSize</key>
                <string>{238,304}</string>
                <key>textureRect</key>
                <string>{{1229,351},{178,198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Monster_2-Jump-23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-41}</string>
                <key>spriteSize</key>
                <string>{198,186}</string>
                <key>spriteSourceSize</key>
                <string>{238,304}</string>
                <key>textureRect</key>
                <string>{{1231,163},{198,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Jump-24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-56}</string>
                <key>spriteSize</key>
                <string>{214,172}</string>
                <key>spriteSourceSize</key>
                <string>{238,304}</string>
                <key>textureRect</key>
                <string>{{1227,751},{214,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Jump-25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-59}</string>
                <key>spriteSize</key>
                <string>{218,172}</string>
                <key>spriteSourceSize</key>
                <string>{238,304}</string>
                <key>textureRect</key>
                <string>{{1229,531},{218,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Monster_2-Jump-26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-57}</string>
                <key>spriteSize</key>
                <string>{220,176}</string>
                <key>spriteSourceSize</key>
                <string>{238,304}</string>
                <key>textureRect</key>
                <string>{{1009,1},{220,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Jump-27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-56}</string>
                <key>spriteSize</key>
                <string>{222,178}</string>
                <key>spriteSourceSize</key>
                <string>{238,304}</string>
                <key>textureRect</key>
                <string>{{807,455},{222,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Monster_2-Jump-28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-55}</string>
                <key>spriteSize</key>
                <string>{224,180}</string>
                <key>spriteSourceSize</key>
                <string>{238,304}</string>
                <key>textureRect</key>
                <string>{{805,229},{224,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Monster_2-Jump-29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-54}</string>
                <key>spriteSize</key>
                <string>{226,182}</string>
                <key>spriteSourceSize</key>
                <string>{238,304}</string>
                <key>textureRect</key>
                <string>{{623,1},{226,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Monster_2-Jump-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-56}</string>
                <key>spriteSize</key>
                <string>{224,178}</string>
                <key>spriteSourceSize</key>
                <string>{238,304}</string>
                <key>textureRect</key>
                <string>{{807,1},{224,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Monster_2-Jump-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-57}</string>
                <key>spriteSize</key>
                <string>{222,176}</string>
                <key>spriteSourceSize</key>
                <string>{238,304}</string>
                <key>textureRect</key>
                <string>{{831,679},{222,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Monster_2-Jump-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-58}</string>
                <key>spriteSize</key>
                <string>{218,174}</string>
                <key>spriteSourceSize</key>
                <string>{238,304}</string>
                <key>textureRect</key>
                <string>{{1009,373},{218,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Jump-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-60}</string>
                <key>spriteSize</key>
                <string>{216,172}</string>
                <key>spriteSourceSize</key>
                <string>{238,304}</string>
                <key>textureRect</key>
                <string>{{1009,717},{216,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Jump-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-52}</string>
                <key>spriteSize</key>
                <string>{218,192}</string>
                <key>spriteSourceSize</key>
                <string>{238,304}</string>
                <key>textureRect</key>
                <string>{{1009,179},{218,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Jump-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-44}</string>
                <key>spriteSize</key>
                <string>{208,216}</string>
                <key>spriteSourceSize</key>
                <string>{238,304}</string>
                <key>textureRect</key>
                <string>{{227,743},{208,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Monster_2-Jump-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-32}</string>
                <key>spriteSize</key>
                <string>{204,234}</string>
                <key>spriteSourceSize</key>
                <string>{238,304}</string>
                <key>textureRect</key>
                <string>{{417,243},{204,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Monster_2-Jump.png</string>
            <key>size</key>
            <string>{1442,956}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:66014d053fcd550036e4b01790348cdb:e78bc1496a88ecd4553523a91acc6a92:a42a85c501fc8303ef6b264f02812ecc$</string>
            <key>textureFileName</key>
            <string>Monster_2-Jump.png</string>
        </dict>
    </dict>
</plist>
