<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Monster_2-Idle-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{227,183}</string>
                <key>spriteSourceSize</key>
                <string>{235,185}</string>
                <key>textureRect</key>
                <string>{{1,1},{227,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Idle-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{227,183}</string>
                <key>spriteSourceSize</key>
                <string>{235,185}</string>
                <key>textureRect</key>
                <string>{{1,186},{227,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Idle-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{225,181}</string>
                <key>spriteSourceSize</key>
                <string>{235,185}</string>
                <key>textureRect</key>
                <string>{{230,1},{225,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Idle-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{227,183}</string>
                <key>spriteSourceSize</key>
                <string>{235,185}</string>
                <key>textureRect</key>
                <string>{{1,371},{227,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Idle-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{225,181}</string>
                <key>spriteSourceSize</key>
                <string>{235,185}</string>
                <key>textureRect</key>
                <string>{{230,184},{225,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Idle-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{223,179}</string>
                <key>spriteSourceSize</key>
                <string>{235,185}</string>
                <key>textureRect</key>
                <string>{{230,367},{223,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Idle-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-4}</string>
                <key>spriteSize</key>
                <string>{221,175}</string>
                <key>spriteSourceSize</key>
                <string>{235,185}</string>
                <key>textureRect</key>
                <string>{{1,556},{221,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Idle-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-5}</string>
                <key>spriteSize</key>
                <string>{219,175}</string>
                <key>spriteSourceSize</key>
                <string>{235,185}</string>
                <key>textureRect</key>
                <string>{{1,906},{219,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Idle-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-7}</string>
                <key>spriteSize</key>
                <string>{217,171}</string>
                <key>spriteSourceSize</key>
                <string>{235,185}</string>
                <key>textureRect</key>
                <string>{{1,733},{217,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Idle-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-5}</string>
                <key>spriteSize</key>
                <string>{219,175}</string>
                <key>spriteSourceSize</key>
                <string>{235,185}</string>
                <key>textureRect</key>
                <string>{{222,906},{219,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Idle-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-4}</string>
                <key>spriteSize</key>
                <string>{221,175}</string>
                <key>spriteSourceSize</key>
                <string>{235,185}</string>
                <key>textureRect</key>
                <string>{{224,729},{221,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Idle-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{223,179}</string>
                <key>spriteSourceSize</key>
                <string>{235,185}</string>
                <key>textureRect</key>
                <string>{{230,548},{223,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Monster_2-Idle.png</string>
            <key>size</key>
            <string>{456,1082}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d77bac0cfcdb2a56cfee8e40cf647e5:6ef68d1c9ccf02c77ce3303ae6a77b3b:1c29b07d14fd30600da24eb9df0c1b34$</string>
            <key>textureFileName</key>
            <string>Monster_2-Idle.png</string>
        </dict>
    </dict>
</plist>
