<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Monster_2-Hurt-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{229,184}</string>
                <key>spriteSourceSize</key>
                <string>{235,194}</string>
                <key>textureRect</key>
                <string>{{1,1},{229,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Hurt-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{231,184}</string>
                <key>spriteSourceSize</key>
                <string>{235,194}</string>
                <key>textureRect</key>
                <string>{{232,1},{231,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Hurt-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-2}</string>
                <key>spriteSize</key>
                <string>{221,186}</string>
                <key>spriteSourceSize</key>
                <string>{235,194}</string>
                <key>textureRect</key>
                <string>{{230,187},{221,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Hurt-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-2}</string>
                <key>spriteSize</key>
                <string>{227,184}</string>
                <key>spriteSourceSize</key>
                <string>{235,194}</string>
                <key>textureRect</key>
                <string>{{465,1},{227,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Hurt-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{231,186}</string>
                <key>spriteSourceSize</key>
                <string>{235,194}</string>
                <key>textureRect</key>
                <string>{{453,187},{231,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Hurt-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-3}</string>
                <key>spriteSize</key>
                <string>{227,184}</string>
                <key>spriteSourceSize</key>
                <string>{235,194}</string>
                <key>textureRect</key>
                <string>{{1,187},{227,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Hurt-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-2}</string>
                <key>spriteSize</key>
                <string>{225,186}</string>
                <key>spriteSourceSize</key>
                <string>{235,194}</string>
                <key>textureRect</key>
                <string>{{1,373},{225,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Hurt-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-2}</string>
                <key>spriteSize</key>
                <string>{219,186}</string>
                <key>spriteSourceSize</key>
                <string>{235,194}</string>
                <key>textureRect</key>
                <string>{{228,375},{219,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Hurt-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-3}</string>
                <key>spriteSize</key>
                <string>{209,184}</string>
                <key>spriteSourceSize</key>
                <string>{235,194}</string>
                <key>textureRect</key>
                <string>{{694,1},{209,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Hurt-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-2}</string>
                <key>spriteSize</key>
                <string>{211,186}</string>
                <key>spriteSourceSize</key>
                <string>{235,194}</string>
                <key>textureRect</key>
                <string>{{686,187},{211,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Hurt-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-2}</string>
                <key>spriteSize</key>
                <string>{211,186}</string>
                <key>spriteSourceSize</key>
                <string>{235,194}</string>
                <key>textureRect</key>
                <string>{{449,375},{211,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Hurt-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-2}</string>
                <key>spriteSize</key>
                <string>{211,186}</string>
                <key>spriteSourceSize</key>
                <string>{235,194}</string>
                <key>textureRect</key>
                <string>{{662,375},{211,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Monster_2-Hurt.png</string>
            <key>size</key>
            <string>{904,562}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:638b2998664194808a777d4abe5b6aeb:1f1a861585dd9157c451aad1aaab73dd:305de35ab31c32368bc94c39b3b22c25$</string>
            <key>textureFileName</key>
            <string>Monster_2-Hurt.png</string>
        </dict>
    </dict>
</plist>
