<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Monster_2-Walk-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,2}</string>
                <key>spriteSize</key>
                <string>{227,185}</string>
                <key>spriteSourceSize</key>
                <string>{243,197}</string>
                <key>textureRect</key>
                <string>{{1295,184},{227,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Walk-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,2}</string>
                <key>spriteSize</key>
                <string>{227,185}</string>
                <key>spriteSourceSize</key>
                <string>{243,197}</string>
                <key>textureRect</key>
                <string>{{1524,184},{227,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Walk-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,2}</string>
                <key>spriteSize</key>
                <string>{211,183}</string>
                <key>spriteSourceSize</key>
                <string>{243,197}</string>
                <key>textureRect</key>
                <string>{{1,184},{211,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Walk-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,1}</string>
                <key>spriteSize</key>
                <string>{209,181}</string>
                <key>spriteSourceSize</key>
                <string>{243,197}</string>
                <key>textureRect</key>
                <string>{{1,1},{209,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Walk-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,1}</string>
                <key>spriteSize</key>
                <string>{207,181}</string>
                <key>spriteSourceSize</key>
                <string>{243,197}</string>
                <key>textureRect</key>
                <string>{{212,1},{207,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Walk-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,1}</string>
                <key>spriteSize</key>
                <string>{207,181}</string>
                <key>spriteSourceSize</key>
                <string>{243,197}</string>
                <key>textureRect</key>
                <string>{{421,1},{207,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Walk-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,1}</string>
                <key>spriteSize</key>
                <string>{203,181}</string>
                <key>spriteSourceSize</key>
                <string>{243,197}</string>
                <key>textureRect</key>
                <string>{{630,1},{203,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Walk-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,1}</string>
                <key>spriteSize</key>
                <string>{201,181}</string>
                <key>spriteSourceSize</key>
                <string>{243,197}</string>
                <key>textureRect</key>
                <string>{{835,1},{201,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Walk-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,1}</string>
                <key>spriteSize</key>
                <string>{199,181}</string>
                <key>spriteSourceSize</key>
                <string>{243,197}</string>
                <key>textureRect</key>
                <string>{{1038,1},{199,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Walk-17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,1}</string>
                <key>spriteSize</key>
                <string>{197,181}</string>
                <key>spriteSourceSize</key>
                <string>{243,197}</string>
                <key>textureRect</key>
                <string>{{1239,1},{197,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Walk-18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,1}</string>
                <key>spriteSize</key>
                <string>{195,181}</string>
                <key>spriteSourceSize</key>
                <string>{243,197}</string>
                <key>textureRect</key>
                <string>{{1438,1},{195,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Walk-19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,1}</string>
                <key>spriteSize</key>
                <string>{199,181}</string>
                <key>spriteSourceSize</key>
                <string>{243,197}</string>
                <key>textureRect</key>
                <string>{{1635,1},{199,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Walk-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,2}</string>
                <key>spriteSize</key>
                <string>{225,185}</string>
                <key>spriteSourceSize</key>
                <string>{243,197}</string>
                <key>textureRect</key>
                <string>{{1753,186},{225,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Walk-20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,1}</string>
                <key>spriteSize</key>
                <string>{203,183}</string>
                <key>spriteSourceSize</key>
                <string>{243,197}</string>
                <key>textureRect</key>
                <string>{{1836,1},{203,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Walk-21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{207,183}</string>
                <key>spriteSourceSize</key>
                <string>{243,197}</string>
                <key>textureRect</key>
                <string>{{214,184},{207,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Walk-22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{211,185}</string>
                <key>spriteSourceSize</key>
                <string>{243,197}</string>
                <key>textureRect</key>
                <string>{{1,369},{211,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Walk-23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{215,185}</string>
                <key>spriteSourceSize</key>
                <string>{243,197}</string>
                <key>textureRect</key>
                <string>{{214,369},{215,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Walk-24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{219,185}</string>
                <key>spriteSourceSize</key>
                <string>{243,197}</string>
                <key>textureRect</key>
                <string>{{431,369},{219,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Walk-25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,2}</string>
                <key>spriteSize</key>
                <string>{223,187}</string>
                <key>spriteSourceSize</key>
                <string>{243,197}</string>
                <key>textureRect</key>
                <string>{{1,556},{223,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Walk-26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,1}</string>
                <key>spriteSize</key>
                <string>{225,187}</string>
                <key>spriteSourceSize</key>
                <string>{243,197}</string>
                <key>textureRect</key>
                <string>{{226,556},{225,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Walk-27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,2}</string>
                <key>spriteSize</key>
                <string>{229,187}</string>
                <key>spriteSourceSize</key>
                <string>{243,197}</string>
                <key>textureRect</key>
                <string>{{453,556},{229,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Walk-28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,2}</string>
                <key>spriteSize</key>
                <string>{231,187}</string>
                <key>spriteSourceSize</key>
                <string>{243,197}</string>
                <key>textureRect</key>
                <string>{{684,556},{231,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Walk-29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,2}</string>
                <key>spriteSize</key>
                <string>{233,187}</string>
                <key>spriteSourceSize</key>
                <string>{243,197}</string>
                <key>textureRect</key>
                <string>{{917,558},{233,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Walk-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,2}</string>
                <key>spriteSize</key>
                <string>{223,185}</string>
                <key>spriteSourceSize</key>
                <string>{243,197}</string>
                <key>textureRect</key>
                <string>{{652,369},{223,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Walk-30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,2}</string>
                <key>spriteSize</key>
                <string>{233,187}</string>
                <key>spriteSourceSize</key>
                <string>{243,197}</string>
                <key>textureRect</key>
                <string>{{1152,558},{233,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Walk-31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,2}</string>
                <key>spriteSize</key>
                <string>{233,187}</string>
                <key>spriteSourceSize</key>
                <string>{243,197}</string>
                <key>textureRect</key>
                <string>{{1387,560},{233,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Walk-32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{233,187}</string>
                <key>spriteSourceSize</key>
                <string>{243,197}</string>
                <key>textureRect</key>
                <string>{{1622,560},{233,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Walk-33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{233,185}</string>
                <key>spriteSourceSize</key>
                <string>{243,197}</string>
                <key>textureRect</key>
                <string>{{877,369},{233,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Walk-34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{231,185}</string>
                <key>spriteSourceSize</key>
                <string>{243,197}</string>
                <key>textureRect</key>
                <string>{{1112,371},{231,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Walk-35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{231,185}</string>
                <key>spriteSourceSize</key>
                <string>{243,197}</string>
                <key>textureRect</key>
                <string>{{1345,371},{231,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Walk-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,2}</string>
                <key>spriteSize</key>
                <string>{221,185}</string>
                <key>spriteSourceSize</key>
                <string>{243,197}</string>
                <key>textureRect</key>
                <string>{{1578,373},{221,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Walk-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,2}</string>
                <key>spriteSize</key>
                <string>{221,185}</string>
                <key>spriteSourceSize</key>
                <string>{243,197}</string>
                <key>textureRect</key>
                <string>{{1801,373},{221,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Walk-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{219,183}</string>
                <key>spriteSourceSize</key>
                <string>{243,197}</string>
                <key>textureRect</key>
                <string>{{423,184},{219,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Walk-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,2}</string>
                <key>spriteSize</key>
                <string>{217,183}</string>
                <key>spriteSourceSize</key>
                <string>{243,197}</string>
                <key>textureRect</key>
                <string>{{644,184},{217,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Walk-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,2}</string>
                <key>spriteSize</key>
                <string>{215,183}</string>
                <key>spriteSourceSize</key>
                <string>{243,197}</string>
                <key>textureRect</key>
                <string>{{863,184},{215,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Walk-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,2}</string>
                <key>spriteSize</key>
                <string>{213,183}</string>
                <key>spriteSourceSize</key>
                <string>{243,197}</string>
                <key>textureRect</key>
                <string>{{1080,184},{213,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Monster_2-Walk.png</string>
            <key>size</key>
            <string>{2040,748}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:34b90703c1588c7b7fcdeafd7c018b08:a264ed64ecd2fae8e00e36b771bf0c32:73477442872538ffb41d10d7f5fa5cef$</string>
            <key>textureFileName</key>
            <string>Monster_2-Walk.png</string>
        </dict>
    </dict>
</plist>
