<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Monster_2-Run-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,2}</string>
                <key>spriteSize</key>
                <string>{227,185}</string>
                <key>spriteSourceSize</key>
                <string>{243,197}</string>
                <key>textureRect</key>
                <string>{{210,554},{227,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Run-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,2}</string>
                <key>spriteSize</key>
                <string>{227,185}</string>
                <key>spriteSourceSize</key>
                <string>{243,197}</string>
                <key>textureRect</key>
                <string>{{439,554},{227,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Run-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,1}</string>
                <key>spriteSize</key>
                <string>{201,181}</string>
                <key>spriteSourceSize</key>
                <string>{243,197}</string>
                <key>textureRect</key>
                <string>{{1,1},{201,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Run-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,1}</string>
                <key>spriteSize</key>
                <string>{199,181}</string>
                <key>spriteSourceSize</key>
                <string>{243,197}</string>
                <key>textureRect</key>
                <string>{{204,1},{199,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Run-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,1}</string>
                <key>spriteSize</key>
                <string>{195,181}</string>
                <key>spriteSourceSize</key>
                <string>{243,197}</string>
                <key>textureRect</key>
                <string>{{405,1},{195,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Run-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,1}</string>
                <key>spriteSize</key>
                <string>{201,181}</string>
                <key>spriteSourceSize</key>
                <string>{243,197}</string>
                <key>textureRect</key>
                <string>{{602,1},{201,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Run-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{207,183}</string>
                <key>spriteSourceSize</key>
                <string>{243,197}</string>
                <key>textureRect</key>
                <string>{{208,184},{207,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Run-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{213,185}</string>
                <key>spriteSourceSize</key>
                <string>{243,197}</string>
                <key>textureRect</key>
                <string>{{668,554},{213,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Run-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,2}</string>
                <key>spriteSize</key>
                <string>{219,187}</string>
                <key>spriteSourceSize</key>
                <string>{243,197}</string>
                <key>textureRect</key>
                <string>{{234,741},{219,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Run-17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,2}</string>
                <key>spriteSize</key>
                <string>{225,187}</string>
                <key>spriteSourceSize</key>
                <string>{243,197}</string>
                <key>textureRect</key>
                <string>{{455,741},{225,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Run-18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,2}</string>
                <key>spriteSize</key>
                <string>{229,187}</string>
                <key>spriteSourceSize</key>
                <string>{243,197}</string>
                <key>textureRect</key>
                <string>{{682,741},{229,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Run-19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,3}</string>
                <key>spriteSize</key>
                <string>{231,189}</string>
                <key>spriteSourceSize</key>
                <string>{243,197}</string>
                <key>textureRect</key>
                <string>{{1,928},{231,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Run-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,2}</string>
                <key>spriteSize</key>
                <string>{223,183}</string>
                <key>spriteSourceSize</key>
                <string>{243,197}</string>
                <key>textureRect</key>
                <string>{{417,184},{223,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Run-20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,3}</string>
                <key>spriteSize</key>
                <string>{233,187}</string>
                <key>spriteSourceSize</key>
                <string>{243,197}</string>
                <key>textureRect</key>
                <string>{{234,930},{233,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Run-21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,3}</string>
                <key>spriteSize</key>
                <string>{235,187}</string>
                <key>spriteSourceSize</key>
                <string>{243,197}</string>
                <key>textureRect</key>
                <string>{{469,930},{235,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Run-22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{233,187}</string>
                <key>spriteSourceSize</key>
                <string>{243,197}</string>
                <key>textureRect</key>
                <string>{{706,930},{233,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Run-23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{231,185}</string>
                <key>spriteSourceSize</key>
                <string>{243,197}</string>
                <key>textureRect</key>
                <string>{{1,741},{231,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Run-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,2}</string>
                <key>spriteSize</key>
                <string>{221,183}</string>
                <key>spriteSourceSize</key>
                <string>{243,197}</string>
                <key>textureRect</key>
                <string>{{642,184},{221,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Run-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,2}</string>
                <key>spriteSize</key>
                <string>{219,183}</string>
                <key>spriteSourceSize</key>
                <string>{243,197}</string>
                <key>textureRect</key>
                <string>{{1,369},{219,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Run-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,2}</string>
                <key>spriteSize</key>
                <string>{215,183}</string>
                <key>spriteSourceSize</key>
                <string>{243,197}</string>
                <key>textureRect</key>
                <string>{{222,369},{215,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Run-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,2}</string>
                <key>spriteSize</key>
                <string>{213,183}</string>
                <key>spriteSourceSize</key>
                <string>{243,197}</string>
                <key>textureRect</key>
                <string>{{439,369},{213,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Run-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,2}</string>
                <key>spriteSize</key>
                <string>{211,183}</string>
                <key>spriteSourceSize</key>
                <string>{243,197}</string>
                <key>textureRect</key>
                <string>{{654,369},{211,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Run-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,2}</string>
                <key>spriteSize</key>
                <string>{207,183}</string>
                <key>spriteSourceSize</key>
                <string>{243,197}</string>
                <key>textureRect</key>
                <string>{{1,554},{207,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Run-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,1}</string>
                <key>spriteSize</key>
                <string>{205,181}</string>
                <key>spriteSourceSize</key>
                <string>{243,197}</string>
                <key>textureRect</key>
                <string>{{1,184},{205,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Monster_2-Run.png</string>
            <key>size</key>
            <string>{940,1118}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d3dc362deca7fe26250aca6799a7159d:241c2c6d9bb97130713797edb32a0729:8bce4afb3680b2a5e19c632ef8983878$</string>
            <key>textureFileName</key>
            <string>Monster_2-Run.png</string>
        </dict>
    </dict>
</plist>
