<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Monster_2-Attack-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,1}</string>
                <key>spriteSize</key>
                <string>{228,185}</string>
                <key>spriteSourceSize</key>
                <string>{270,187}</string>
                <key>textureRect</key>
                <string>{{721,731},{228,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Attack-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,1}</string>
                <key>spriteSize</key>
                <string>{224,183}</string>
                <key>spriteSourceSize</key>
                <string>{270,187}</string>
                <key>textureRect</key>
                <string>{{475,546},{224,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Attack-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-2}</string>
                <key>spriteSize</key>
                <string>{246,179}</string>
                <key>spriteSourceSize</key>
                <string>{270,187}</string>
                <key>textureRect</key>
                <string>{{203,1},{246,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Attack-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{254,179}</string>
                <key>spriteSourceSize</key>
                <string>{270,187}</string>
                <key>textureRect</key>
                <string>{{451,1},{254,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Attack-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{262,179}</string>
                <key>spriteSourceSize</key>
                <string>{270,187}</string>
                <key>textureRect</key>
                <string>{{707,1},{262,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Attack-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{260,179}</string>
                <key>spriteSourceSize</key>
                <string>{270,187}</string>
                <key>textureRect</key>
                <string>{{1,182},{260,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Attack-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{258,181}</string>
                <key>spriteSourceSize</key>
                <string>{270,187}</string>
                <key>textureRect</key>
                <string>{{465,363},{258,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Attack-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{256,181}</string>
                <key>spriteSourceSize</key>
                <string>{270,187}</string>
                <key>textureRect</key>
                <string>{{1,544},{256,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Attack-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{254,181}</string>
                <key>spriteSourceSize</key>
                <string>{270,187}</string>
                <key>textureRect</key>
                <string>{{725,363},{254,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Attack-17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{252,183}</string>
                <key>spriteSourceSize</key>
                <string>{270,187}</string>
                <key>textureRect</key>
                <string>{{701,546},{252,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Attack-18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,0}</string>
                <key>spriteSize</key>
                <string>{250,183}</string>
                <key>spriteSourceSize</key>
                <string>{270,187}</string>
                <key>textureRect</key>
                <string>{{1,727},{250,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Attack-19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,0}</string>
                <key>spriteSize</key>
                <string>{246,183}</string>
                <key>spriteSourceSize</key>
                <string>{270,187}</string>
                <key>textureRect</key>
                <string>{{473,731},{246,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Attack-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,1}</string>
                <key>spriteSize</key>
                <string>{218,183}</string>
                <key>spriteSourceSize</key>
                <string>{270,187}</string>
                <key>textureRect</key>
                <string>{{253,729},{218,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Attack-20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,1}</string>
                <key>spriteSize</key>
                <string>{242,185}</string>
                <key>spriteSourceSize</key>
                <string>{270,187}</string>
                <key>textureRect</key>
                <string>{{1,912},{242,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Attack-21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,1}</string>
                <key>spriteSize</key>
                <string>{240,185}</string>
                <key>spriteSourceSize</key>
                <string>{270,187}</string>
                <key>textureRect</key>
                <string>{{245,916},{240,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Attack-22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,1}</string>
                <key>spriteSize</key>
                <string>{236,185}</string>
                <key>spriteSourceSize</key>
                <string>{270,187}</string>
                <key>textureRect</key>
                <string>{{721,918},{236,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Attack-23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,1}</string>
                <key>spriteSize</key>
                <string>{232,185}</string>
                <key>spriteSourceSize</key>
                <string>{270,187}</string>
                <key>textureRect</key>
                <string>{{487,916},{232,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Attack-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,0}</string>
                <key>spriteSize</key>
                <string>{214,181}</string>
                <key>spriteSourceSize</key>
                <string>{270,187}</string>
                <key>textureRect</key>
                <string>{{259,546},{214,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Attack-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-1}</string>
                <key>spriteSize</key>
                <string>{210,179}</string>
                <key>spriteSourceSize</key>
                <string>{270,187}</string>
                <key>textureRect</key>
                <string>{{263,182},{210,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Attack-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-1}</string>
                <key>spriteSize</key>
                <string>{206,179}</string>
                <key>spriteSourceSize</key>
                <string>{270,187}</string>
                <key>textureRect</key>
                <string>{{475,182},{206,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Attack-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-2}</string>
                <key>spriteSize</key>
                <string>{200,177}</string>
                <key>spriteSourceSize</key>
                <string>{270,187}</string>
                <key>textureRect</key>
                <string>{{1,1},{200,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Attack-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-2}</string>
                <key>spriteSize</key>
                <string>{212,179}</string>
                <key>spriteSourceSize</key>
                <string>{270,187}</string>
                <key>textureRect</key>
                <string>{{683,182},{212,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Attack-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-2}</string>
                <key>spriteSize</key>
                <string>{224,179}</string>
                <key>spriteSourceSize</key>
                <string>{270,187}</string>
                <key>textureRect</key>
                <string>{{1,363},{224,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_2-Attack-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-2}</string>
                <key>spriteSize</key>
                <string>{236,179}</string>
                <key>spriteSourceSize</key>
                <string>{270,187}</string>
                <key>textureRect</key>
                <string>{{227,363},{236,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Monster_2-Attack.png</string>
            <key>size</key>
            <string>{980,1104}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7af75a708da0fd4d85cc462a5330b9f7:bc54612e07f62c93ad7486efd411a425:aa59bd19a05a7994a3d61b254f79ef52$</string>
            <key>textureFileName</key>
            <string>Monster_2-Attack.png</string>
        </dict>
    </dict>
</plist>
