<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Attack_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-58}</string>
                <key>spriteSize</key>
                <string>{192,266}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1,1361},{192,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-68}</string>
                <key>spriteSize</key>
                <string>{196,246}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{203,1607},{196,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-69}</string>
                <key>spriteSize</key>
                <string>{204,244}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{195,1361},{204,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-72}</string>
                <key>spriteSize</key>
                <string>{200,238}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1,1629},{200,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{105,-20}</string>
                <key>spriteSize</key>
                <string>{398,342}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1,1},{398,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{96,-11}</string>
                <key>spriteSize</key>
                <string>{380,360}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1,345},{380,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{84,-9}</string>
                <key>spriteSize</key>
                <string>{358,364}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1,707},{358,364}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{48,-48}</string>
                <key>spriteSize</key>
                <string>{284,286}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1,1073},{284,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Attack_1.png</string>
            <key>size</key>
            <string>{400,1868}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2ed5c693f2f237a03fca0764da04541:68d129beacee6f7870ad6cc84ac9499d:2f2595260b1812d0e387f0523c20354e$</string>
            <key>textureFileName</key>
            <string>Attack_1.png</string>
        </dict>
    </dict>
</plist>
