<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>1</integer>
    </dict>
    <key>category_names</key>
    <array>
    </array>
    <key>bodies</key>
    <dict>

      <key>Attack_1</key>
      <dict>
        <key>anchorpoint</key>
        <string>{ 0.50000,0.50000 }</string>
        <key>is_dynamic</key>
        <true/>
        <key>affected_by_gravity</key>
        <true/>
        <key>allows_rotation</key>
        <true/>
        <key>linear_damping</key>
        <real>0</real>
        <key>velocity_limit</key>
        <real>1e+06</real>
        <key>angular_damping</key>
        <real>0</real>
        <key>angular_velocity_limit</key>
        <real>1e+06</real>
        <key>fixtures</key>
        <array>

          <dict>
            <key>density</key>
            <real>2</real>
            <key>restitution</key>
            <real>0.20000000298023224</real>
            <key>friction</key>
            <real>0.699999988079071</real>
            <key>tag</key>
            <integer>0</integer>
            <key>group</key>
            <integer>0</integer>
            <key>category_mask</key>
            <integer>4294967295</integer>
            <key>collision_mask</key>
            <integer>4294967295</integer>
            <key>contact_test_mask</key>
            <integer>0</integer>
            <key>fixture_type</key>
            <string>POLYGON</string>

            <key>polygons</key>
            <array>
              <array>
                <string>{ 310.00000,150.00000 }</string>
                <string>{ 310.00000,-190.00000 }</string>
                <string>{ -95.00000,-190.00000 }</string>
                <string>{ -95.00000,150.00000 }</string>
              </array>
            </array>

          </dict>

        </array>
      </dict>

      <key>Charge</key>
      <dict>
        <key>anchorpoint</key>
        <string>{ 0.50000,0.50000 }</string>
        <key>is_dynamic</key>
        <true/>
        <key>affected_by_gravity</key>
        <true/>
        <key>allows_rotation</key>
        <true/>
        <key>linear_damping</key>
        <real>0</real>
        <key>velocity_limit</key>
        <real>1e+06</real>
        <key>angular_damping</key>
        <real>0</real>
        <key>angular_velocity_limit</key>
        <real>1e+06</real>
        <key>fixtures</key>
        <array>

          <dict>
            <key>density</key>
            <real>1</real>
            <key>restitution</key>
            <real>0.20000000298023224</real>
            <key>friction</key>
            <real>0.699999988079071</real>
            <key>tag</key>
            <integer>0</integer>
            <key>group</key>
            <integer>0</integer>
            <key>category_mask</key>
            <integer>4294967295</integer>
            <key>collision_mask</key>
            <integer>4294967295</integer>
            <key>contact_test_mask</key>
            <integer>0</integer>
            <key>fixture_type</key>
            <string>POLYGON</string>

            <key>polygons</key>
            <array>
              <array>
                <string>{ -100.00000,-179.00000 }</string>
                <string>{ -100.00000,60.00000 }</string>
                <string>{ 190.00000,60.00000 }</string>
                <string>{ 190.00000,-180.00000 }</string>
              </array>
            </array>

          </dict>

        </array>
      </dict>

      <key>Attack_2</key>
      <dict>
        <key>anchorpoint</key>
        <string>{ 0.50000,0.50000 }</string>
        <key>is_dynamic</key>
        <true/>
        <key>affected_by_gravity</key>
        <true/>
        <key>allows_rotation</key>
        <true/>
        <key>linear_damping</key>
        <real>0</real>
        <key>velocity_limit</key>
        <real>1e+06</real>
        <key>angular_damping</key>
        <real>0</real>
        <key>angular_velocity_limit</key>
        <real>1e+06</real>
        <key>fixtures</key>
        <array>

          <dict>
            <key>density</key>
            <real>1</real>
            <key>restitution</key>
            <real>0.20000000298023224</real>
            <key>friction</key>
            <real>0.699999988079071</real>
            <key>tag</key>
            <integer>0</integer>
            <key>group</key>
            <integer>0</integer>
            <key>category_mask</key>
            <integer>4294967295</integer>
            <key>collision_mask</key>
            <integer>4294967295</integer>
            <key>contact_test_mask</key>
            <integer>0</integer>
            <key>fixture_type</key>
            <string>POLYGON</string>

            <key>polygons</key>
            <array>
              <array>
                <string>{ -110.00000,215.00000 }</string>
                <string>{ 310.00000,215.00000 }</string>
                <string>{ 310.00000,-190.00000 }</string>
                <string>{ -115.00000,-192.00000 }</string>
              </array>
            </array>

          </dict>

        </array>
      </dict>

      <key>Jump_Attack_1</key>
      <dict>
        <key>anchorpoint</key>
        <string>{ 0.50000,0.50000 }</string>
        <key>is_dynamic</key>
        <true/>
        <key>affected_by_gravity</key>
        <true/>
        <key>allows_rotation</key>
        <true/>
        <key>linear_damping</key>
        <real>0</real>
        <key>velocity_limit</key>
        <real>1e+06</real>
        <key>angular_damping</key>
        <real>0</real>
        <key>angular_velocity_limit</key>
        <real>1e+06</real>
        <key>fixtures</key>
        <array>

          <dict>
            <key>density</key>
            <real>1</real>
            <key>restitution</key>
            <real>0.20000000298023224</real>
            <key>friction</key>
            <real>0.699999988079071</real>
            <key>tag</key>
            <integer>0</integer>
            <key>group</key>
            <integer>0</integer>
            <key>category_mask</key>
            <integer>4294967295</integer>
            <key>collision_mask</key>
            <integer>4294967295</integer>
            <key>contact_test_mask</key>
            <integer>0</integer>
            <key>fixture_type</key>
            <string>POLYGON</string>

            <key>polygons</key>
            <array>
              <array>
                <string>{ 300.00000,150.00000 }</string>
                <string>{ 300.00000,-195.00000 }</string>
                <string>{ -100.00000,-195.00000 }</string>
                <string>{ -101.00000,151.00000 }</string>
              </array>
            </array>

          </dict>

        </array>
      </dict>

      <key>Jump_Attack_2</key>
      <dict>
        <key>anchorpoint</key>
        <string>{ 0.50000,0.50000 }</string>
        <key>is_dynamic</key>
        <true/>
        <key>affected_by_gravity</key>
        <true/>
        <key>allows_rotation</key>
        <true/>
        <key>linear_damping</key>
        <real>0</real>
        <key>velocity_limit</key>
        <real>1e+06</real>
        <key>angular_damping</key>
        <real>0</real>
        <key>angular_velocity_limit</key>
        <real>1e+06</real>
        <key>fixtures</key>
        <array>

          <dict>
            <key>density</key>
            <real>1</real>
            <key>restitution</key>
            <real>0.20000000298023224</real>
            <key>friction</key>
            <real>0.699999988079071</real>
            <key>tag</key>
            <integer>0</integer>
            <key>group</key>
            <integer>0</integer>
            <key>category_mask</key>
            <integer>4294967295</integer>
            <key>collision_mask</key>
            <integer>4294967295</integer>
            <key>contact_test_mask</key>
            <integer>0</integer>
            <key>fixture_type</key>
            <string>POLYGON</string>

            <key>polygons</key>
            <array>
              <array>
                <string>{ 282.00000,225.00000 }</string>
                <string>{ 285.00000,-191.00000 }</string>
                <string>{ -135.00000,-191.00000 }</string>
                <string>{ -135.00000,225.00000 }</string>
              </array>
            </array>

          </dict>

        </array>
      </dict>

      <key>Idle</key>
      <dict>
        <key>anchorpoint</key>
        <string>{ 0.50000,0.50000 }</string>
        <key>is_dynamic</key>
        <true/>
        <key>affected_by_gravity</key>
        <true/>
        <key>allows_rotation</key>
        <true/>
        <key>linear_damping</key>
        <real>0</real>
        <key>velocity_limit</key>
        <real>1e+06</real>
        <key>angular_damping</key>
        <real>0</real>
        <key>angular_velocity_limit</key>
        <real>1e+06</real>
        <key>fixtures</key>
        <array>

          <dict>
            <key>density</key>
            <real>1</real>
            <key>restitution</key>
            <real>0.2</real>
            <key>friction</key>
            <real>0.7</real>
            <key>tag</key>
            <integer>0</integer>
            <key>group</key>
            <integer>0</integer>
            <key>category_mask</key>
            <integer>4294967295</integer>
            <key>collision_mask</key>
            <integer>4294967295</integer>
            <key>contact_test_mask</key>
            <integer>0</integer>
            <key>fixture_type</key>
            <string>POLYGON</string>

            <key>polygons</key>
            <array>
              <array>
                <string>{ 53.00000,-198.00000 }</string>
                <string>{ -77.00000,-197.00000 }</string>
                <string>{ -77.00000,70.00000 }</string>
                <string>{ 53.00000,75.00000 }</string>
              </array>
            </array>

          </dict>

        </array>
      </dict>

    </dict>
  </dict>
</plist>




