<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Attack_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-68,-42}</string>
                <key>spriteSize</key>
                <string>{238,274}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{251,383},{238,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-71,-30}</string>
                <key>spriteSize</key>
                <string>{244,298}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1,691},{244,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-73,-26}</string>
                <key>spriteSize</key>
                <string>{248,306}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1,383},{248,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-50,-25}</string>
                <key>spriteSize</key>
                <string>{218,306}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{253,915},{218,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{81,12}</string>
                <key>spriteSize</key>
                <string>{402,380}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1,1},{402,380}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-53}</string>
                <key>spriteSize</key>
                <string>{272,250}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1,991},{272,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Attack_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-52}</string>
                <key>spriteSize</key>
                <string>{238,254}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{251,659},{238,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Attack_2.png</string>
            <key>size</key>
            <string>{490,1264}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:77f9fb931558ede9d80839e9ac530be9:42a6b7a8d12df3b076c919860f02e41c:0728f8e3137ad5638add573641fc21bb$</string>
            <key>textureFileName</key>
            <string>Attack_2.png</string>
        </dict>
    </dict>
</plist>
