<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Attack_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-50}</string>
                <key>spriteSize</key>
                <string>{190,258}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{661,271},{190,258}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Attack_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-64}</string>
                <key>spriteSize</key>
                <string>{222,230}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{773,463},{222,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-66}</string>
                <key>spriteSize</key>
                <string>{234,226}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{545,463},{234,226}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Attack_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-60}</string>
                <key>spriteSize</key>
                <string>{182,238}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{361,463},{182,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{80,-22}</string>
                <key>spriteSize</key>
                <string>{370,314}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1,1},{370,314}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Attack_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{71,-8}</string>
                <key>spriteSize</key>
                <string>{350,342}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{317,1},{350,342}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Attack_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{54,0}</string>
                <key>spriteSize</key>
                <string>{318,358}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1,373},{318,358}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Attack_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,-45}</string>
                <key>spriteSize</key>
                <string>{278,268}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{661,1},{278,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Attack_1.png</string>
            <key>size</key>
            <string>{996,702}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:46e046ea776ca9d811e2e7309d82b83f:451130b6d9bb64172e0d60fbff6833f6:2f2595260b1812d0e387f0523c20354e$</string>
            <key>textureFileName</key>
            <string>Attack_1.png</string>
        </dict>
    </dict>
</plist>
