<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Block1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-49}</string>
                <key>spriteSize</key>
                <string>{186,258}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1165,1},{186,258}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Block2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-55}</string>
                <key>spriteSize</key>
                <string>{184,246}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{189,1},{184,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Block3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-58}</string>
                <key>spriteSize</key>
                <string>{150,240}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{557,1},{150,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Block4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-58}</string>
                <key>spriteSize</key>
                <string>{150,240}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{709,1},{150,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Block5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-58}</string>
                <key>spriteSize</key>
                <string>{150,240}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{861,1},{150,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Block6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-58}</string>
                <key>spriteSize</key>
                <string>{150,240}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1013,1},{150,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Block7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-56}</string>
                <key>spriteSize</key>
                <string>{180,244}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{375,1},{180,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Block8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-53}</string>
                <key>spriteSize</key>
                <string>{186,250}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1,1},{186,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Block9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-50}</string>
                <key>spriteSize</key>
                <string>{172,256}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1425,1},{172,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Block.png</string>
            <key>size</key>
            <string>{1682,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e246b5863c9a48aa5db7ac81b95014c:539da6c908477cf2926163194251f524:4fe4864cc3cc30f699f7e4747aeac5a4$</string>
            <key>textureFileName</key>
            <string>Block.png</string>
        </dict>
    </dict>
</plist>
