<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Charge1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,-57}</string>
                <key>spriteSize</key>
                <string>{266,236}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{539,1},{266,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Charge2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,-51}</string>
                <key>spriteSize</key>
                <string>{268,222}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1345,1},{268,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Charge3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,-50}</string>
                <key>spriteSize</key>
                <string>{274,216}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1615,1},{274,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Charge4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,-53}</string>
                <key>spriteSize</key>
                <string>{268,228}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{807,1},{268,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Charge5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,-57}</string>
                <key>spriteSize</key>
                <string>{266,240}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1,1},{266,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Charge6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,-58}</string>
                <key>spriteSize</key>
                <string>{268,236}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{269,1},{268,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Charge7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,-52}</string>
                <key>spriteSize</key>
                <string>{266,224}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1077,1},{266,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Charge.png</string>
            <key>size</key>
            <string>{1890,242}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d94ed980a7dee4c74c280540f4a392be:8118e3b25c3d41cfe38d27d7f5fc5f10:a8d4fd35c052e236385511218382920f$</string>
            <key>textureFileName</key>
            <string>Charge.png</string>
        </dict>
    </dict>
</plist>
