<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Death1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,-53}</string>
                <key>spriteSize</key>
                <string>{190,254}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{415,697},{190,254}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Death10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,-76}</string>
                <key>spriteSize</key>
                <string>{172,208}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{473,1},{172,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Death11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,-76}</string>
                <key>spriteSize</key>
                <string>{172,208}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1,165},{172,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Death12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,-76}</string>
                <key>spriteSize</key>
                <string>{172,208}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{211,171},{172,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Death13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,-76}</string>
                <key>spriteSize</key>
                <string>{172,208}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{421,175},{172,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Death14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,-76}</string>
                <key>spriteSize</key>
                <string>{172,208}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1,339},{172,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Death15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,-76}</string>
                <key>spriteSize</key>
                <string>{172,208}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{211,345},{172,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Death2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-57}</string>
                <key>spriteSize</key>
                <string>{168,246}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{225,1},{168,246}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Death3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-69}</string>
                <key>spriteSize</key>
                <string>{162,222}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1,1},{162,222}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Death4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,-76}</string>
                <key>spriteSize</key>
                <string>{172,208}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{421,349},{172,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Death5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,-79}</string>
                <key>spriteSize</key>
                <string>{180,202}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{211,693},{180,202}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Death6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,-76}</string>
                <key>spriteSize</key>
                <string>{172,208}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1,513},{172,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Death7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,-76}</string>
                <key>spriteSize</key>
                <string>{172,208}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{211,519},{172,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Death8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,-76}</string>
                <key>spriteSize</key>
                <string>{172,208}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{421,523},{172,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Death9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,-76}</string>
                <key>spriteSize</key>
                <string>{172,208}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1,687},{172,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Death.png</string>
            <key>size</key>
            <string>{682,888}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b9b4d55b4c9231f53dc7302874959b83:f18bf2b2b10e47fc2011aac9556aef23:134a4a57713f4fd0f120e02a9a98e5b0$</string>
            <key>textureFileName</key>
            <string>Death.png</string>
        </dict>
    </dict>
</plist>
