<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Hurt1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,-50}</string>
                <key>spriteSize</key>
                <string>{194,256}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1,1351},{194,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hurt2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-44,-44}</string>
                <key>spriteSize</key>
                <string>{198,268}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1,817},{198,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hurt3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,-45}</string>
                <key>spriteSize</key>
                <string>{202,272}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1,1},{202,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hurt4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,-47}</string>
                <key>spriteSize</key>
                <string>{202,270}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1,275},{202,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hurt5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-45,-53}</string>
                <key>spriteSize</key>
                <string>{200,268}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1,547},{200,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hurt6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-45,-62}</string>
                <key>spriteSize</key>
                <string>{200,262}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1,1087},{200,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hurt7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,-51}</string>
                <key>spriteSize</key>
                <string>{192,254}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1,1609},{192,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hurt8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,-50}</string>
                <key>spriteSize</key>
                <string>{194,256}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1,1351},{194,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Hurt.png</string>
            <key>size</key>
            <string>{204,1864}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bbb520b4154b2e954d66dceae0a7eecd:cfbd716ced7f470dfb0ebd47624b566e:c824c835982a0baf44dabb892aeea54f$</string>
            <key>textureFileName</key>
            <string>Hurt.png</string>
        </dict>
    </dict>
</plist>
