<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Idle1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,-50}</string>
                <key>spriteSize</key>
                <string>{254,276}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1,1},{254,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,-47}</string>
                <key>spriteSize</key>
                <string>{254,274}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1,557},{254,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,-48}</string>
                <key>spriteSize</key>
                <string>{254,274}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{257,557},{254,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,-48}</string>
                <key>spriteSize</key>
                <string>{254,276}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1,279},{254,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,-49}</string>
                <key>spriteSize</key>
                <string>{254,276}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{257,1},{254,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,-49}</string>
                <key>spriteSize</key>
                <string>{254,276}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{257,279},{254,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,-50}</string>
                <key>spriteSize</key>
                <string>{254,276}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{513,1},{254,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,-50}</string>
                <key>spriteSize</key>
                <string>{254,276}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1,1},{254,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,-50}</string>
                <key>spriteSize</key>
                <string>{254,276}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{513,279},{254,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,-49}</string>
                <key>spriteSize</key>
                <string>{254,276}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{769,1},{254,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,-49}</string>
                <key>spriteSize</key>
                <string>{254,276}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1025,1},{254,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,-48}</string>
                <key>spriteSize</key>
                <string>{254,276}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{769,279},{254,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,-48}</string>
                <key>spriteSize</key>
                <string>{254,274}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{513,557},{254,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,-47}</string>
                <key>spriteSize</key>
                <string>{254,274}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1025,279},{254,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,-47}</string>
                <key>spriteSize</key>
                <string>{254,274}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{769,557},{254,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,-47}</string>
                <key>spriteSize</key>
                <string>{254,274}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1025,555},{254,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Idle.png</string>
            <key>size</key>
            <string>{1280,832}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4cc2ca4dc097ef5e1aa1666bce966e36:9d2eaafe8f284066e784614ac10a13ab:f4a1cbca3384d0685fe55d1d95fabf79$</string>
            <key>textureFileName</key>
            <string>Idle.png</string>
        </dict>
    </dict>
</plist>
