<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Jump_Attack_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,-48}</string>
                <key>spriteSize</key>
                <string>{190,248}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{775,481},{190,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump_Attack_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,-55}</string>
                <key>spriteSize</key>
                <string>{220,256}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{517,481},{220,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Jump_Attack_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-50,-57}</string>
                <key>spriteSize</key>
                <string>{224,260}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{703,255},{224,260}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Jump_Attack_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-54}</string>
                <key>spriteSize</key>
                <string>{196,260}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{319,343},{196,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump_Attack_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{73,-21}</string>
                <key>spriteSize</key>
                <string>{362,316}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1,343},{362,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Jump_Attack_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{50,-4}</string>
                <key>spriteSize</key>
                <string>{348,340}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1,1},{348,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump_Attack_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{51,3}</string>
                <key>spriteSize</key>
                <string>{324,350}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{351,1},{324,350}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Jump_Attack_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{39,-47}</string>
                <key>spriteSize</key>
                <string>{268,252}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{703,1},{268,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Jump_Attack_1.png</string>
            <key>size</key>
            <string>{972,730}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6c48ffd406deaa13669e5cefc0177e13:a2860ba0fb62ed65d1064385dcd2f16f:afbe3c946fb3f03d38cfc6203a69cb0e$</string>
            <key>textureFileName</key>
            <string>Jump_Attack_1.png</string>
        </dict>
    </dict>
</plist>
