<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Jump_Attack_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-55,-41}</string>
                <key>spriteSize</key>
                <string>{238,270}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{911,221},{238,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump_Attack_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,-34}</string>
                <key>spriteSize</key>
                <string>{222,304}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{605,263},{222,304}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Jump_Attack_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-44,-30}</string>
                <key>spriteSize</key>
                <string>{222,308}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{381,1},{222,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump_Attack_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-50,-26}</string>
                <key>spriteSize</key>
                <string>{218,308}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{867,1},{218,308}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Jump_Attack_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{55,13}</string>
                <key>spriteSize</key>
                <string>{394,378}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1,1},{394,378}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Jump_Attack_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-42}</string>
                <key>spriteSize</key>
                <string>{260,260}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{605,1},{260,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump_Attack_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-46}</string>
                <key>spriteSize</key>
                <string>{236,256}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1151,221},{236,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Jump_Attack_2.png</string>
            <key>size</key>
            <string>{1388,492}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:10a09e29c42f085d670f38857bd239ee:fefb29b2941a2ca1dc2107f0706400ea:4d560909f21198a1616729b1250ec8ec$</string>
            <key>textureFileName</key>
            <string>Jump_Attack_2.png</string>
        </dict>
    </dict>
</plist>
