<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Jump1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-44}</string>
                <key>spriteSize</key>
                <string>{216,284}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{413,1},{216,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,-42}</string>
                <key>spriteSize</key>
                <string>{212,272}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{631,1},{212,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-26}</string>
                <key>spriteSize</key>
                <string>{216,312}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1,1},{216,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-31}</string>
                <key>spriteSize</key>
                <string>{192,306}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{219,1},{192,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-36}</string>
                <key>spriteSize</key>
                <string>{194,300}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{275,309},{194,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Jump5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,-33}</string>
                <key>spriteSize</key>
                <string>{180,272}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1,315},{180,272}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Jump6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-54,-36}</string>
                <key>spriteSize</key>
                <string>{214,254}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{577,287},{214,254}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Jump7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-52,-34}</string>
                <key>spriteSize</key>
                <string>{210,256}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1057,1},{210,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,-36}</string>
                <key>spriteSize</key>
                <string>{210,262}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{845,1},{210,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,-39}</string>
                <key>spriteSize</key>
                <string>{212,266}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{833,275},{212,266}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>jump.png</string>
            <key>size</key>
            <string>{1268,504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:68157776918ef996600339495cd2856f:41d26131b570c4ae65394f9c2562a736:54e26cd77522c89c6974ac3ccc1c76b6$</string>
            <key>textureFileName</key>
            <string>jump.png</string>
        </dict>
    </dict>
</plist>
