<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Run1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,-50}</string>
                <key>spriteSize</key>
                <string>{194,258}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1,267},{194,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-39,-42}</string>
                <key>spriteSize</key>
                <string>{196,248}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1,1289},{196,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-44,-39}</string>
                <key>spriteSize</key>
                <string>{200,252}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1,785},{200,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,-48}</string>
                <key>spriteSize</key>
                <string>{192,256}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1,527},{192,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,-48}</string>
                <key>spriteSize</key>
                <string>{196,264}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1,1},{196,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-44,-33}</string>
                <key>spriteSize</key>
                <string>{200,248}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1,1039},{200,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Run.png</string>
            <key>size</key>
            <string>{202,1538}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6016b5e1ca2e10c2a44bedb9dffe2e92:cab1b2f44da8ac4deefb20dd4133ab0b:c91fb64b0e016839a70bb33cc903714a$</string>
            <key>textureFileName</key>
            <string>Run.png</string>
        </dict>
    </dict>
</plist>
