<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Shoot_Bow1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-66,-39}</string>
                <key>spriteSize</key>
                <string>{234,280}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1,1407},{234,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shoot_Bow10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-52}</string>
                <key>spriteSize</key>
                <string>{188,252}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{307,579},{188,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shoot_Bow11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-50}</string>
                <key>spriteSize</key>
                <string>{250,258}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{247,1105},{250,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shoot_Bow12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-45}</string>
                <key>spriteSize</key>
                <string>{214,268}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{285,309},{214,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shoot_Bow2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-71,-29}</string>
                <key>spriteSize</key>
                <string>{244,300}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1,1105},{244,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shoot_Bow3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-76,-26}</string>
                <key>spriteSize</key>
                <string>{254,306}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{233,1},{254,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shoot_Bow4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-59,23}</string>
                <key>spriteSize</key>
                <string>{230,404}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1,1},{230,404}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shoot_Bow5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-26}</string>
                <key>spriteSize</key>
                <string>{342,304}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1,761},{342,304}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shoot_Bow6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{51,-37}</string>
                <key>spriteSize</key>
                <string>{352,282}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1,407},{352,282}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shoot_Bow7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-52}</string>
                <key>spriteSize</key>
                <string>{210,252}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{283,1365},{210,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shoot_Bow8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-52}</string>
                <key>spriteSize</key>
                <string>{210,252}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1,1643},{210,252}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shoot_Bow9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-53}</string>
                <key>spriteSize</key>
                <string>{210,250}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{255,1643},{210,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Shoot_Bow.png</string>
            <key>size</key>
            <string>{506,1854}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:31b763aab3b234e1e0cd734b9f533b57:9d18fb55abf9693f8fbc2cd065b10404:e025417d78400cb6799b40638a7fffb4$</string>
            <key>textureFileName</key>
            <string>Shoot_Bow.png</string>
        </dict>
    </dict>
</plist>
