<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Walk1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,-45}</string>
                <key>spriteSize</key>
                <string>{224,266}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{273,785},{224,266}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Walk10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{41,-42}</string>
                <key>spriteSize</key>
                <string>{266,270}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1,271},{266,270}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Walk11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{40,-42}</string>
                <key>spriteSize</key>
                <string>{248,270}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1,539},{248,270}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Walk12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,-43}</string>
                <key>spriteSize</key>
                <string>{230,268}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{545,551},{230,268}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Walk2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,-44}</string>
                <key>spriteSize</key>
                <string>{222,268}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1,789},{222,268}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Walk3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,-44}</string>
                <key>spriteSize</key>
                <string>{228,268}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{545,783},{228,268}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Walk4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{39,-43}</string>
                <key>spriteSize</key>
                <string>{242,270}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{273,541},{242,270}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Walk5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{41,-42}</string>
                <key>spriteSize</key>
                <string>{260,272}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{587,1},{260,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walk6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{43,-41}</string>
                <key>spriteSize</key>
                <string>{274,268}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{575,275},{274,268}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Walk7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{44,-44}</string>
                <key>spriteSize</key>
                <string>{290,266}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{295,1},{290,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walk8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{44,-45}</string>
                <key>spriteSize</key>
                <string>{292,268}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{1,1},{292,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Walk9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{43,-43}</string>
                <key>spriteSize</key>
                <string>{278,270}</string>
                <key>spriteSourceSize</key>
                <string>{700,450}</string>
                <key>textureRect</key>
                <string>{{295,269},{278,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Walk.png</string>
            <key>size</key>
            <string>{848,1012}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bc3c8cb9402dc83bae892e3aeccb6cef:5997b3024a5b000fbb74f98a76fdfb72:20c87050993b7f325db7de98a0289e42$</string>
            <key>textureFileName</key>
            <string>Walk.png</string>
        </dict>
    </dict>
</plist>
