config.bat
**/.vs
**/.vscode
**/*.user
**/CMakeCache.txt
**/CMakeFiles
bin
win32-build
win32-build/**/Debug
win32-build/**/Release
win32-build/**/*.obj
win32-build/**/*.tlog
win32-build/**/*.log
win32-build/**/*.pch
win32-build/**/*.pdb
cocos2d/cocos/platform/android/**/build
cocos2d/cocos/platform/android/**/.classpath
cocos2d/cocos/platform/android/**/.settings/*.prefs
