<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Hurt-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-6}</string>
                <key>spriteSize</key>
                <string>{174,135}</string>
                <key>spriteSourceSize</key>
                <string>{186,147}</string>
                <key>textureRect</key>
                <string>{{1,1},{174,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hurt-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-6}</string>
                <key>spriteSize</key>
                <string>{174,135}</string>
                <key>spriteSourceSize</key>
                <string>{186,147}</string>
                <key>textureRect</key>
                <string>{{177,1},{174,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hurt-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-5}</string>
                <key>spriteSize</key>
                <string>{174,135}</string>
                <key>spriteSourceSize</key>
                <string>{186,147}</string>
                <key>textureRect</key>
                <string>{{353,1},{174,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hurt-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-5}</string>
                <key>spriteSize</key>
                <string>{174,135}</string>
                <key>spriteSourceSize</key>
                <string>{186,147}</string>
                <key>textureRect</key>
                <string>{{529,1},{174,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Hurt.png</string>
            <key>size</key>
            <string>{704,137}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f423399de9ba934f2d4c41adf4ab088:d3ecf1a57be99915d86a9e4221ce1ab8:c824c835982a0baf44dabb892aeea54f$</string>
            <key>textureFileName</key>
            <string>Hurt.png</string>
        </dict>
    </dict>
</plist>
