<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Monster_1-Death-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-19}</string>
                <key>spriteSize</key>
                <string>{173,142}</string>
                <key>spriteSourceSize</key>
                <string>{209,208}</string>
                <key>textureRect</key>
                <string>{{1,227},{173,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_1-Death-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-6}</string>
                <key>spriteSize</key>
                <string>{167,170}</string>
                <key>spriteSourceSize</key>
                <string>{209,208}</string>
                <key>textureRect</key>
                <string>{{174,453},{167,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Monster_1-Death-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-15}</string>
                <key>spriteSize</key>
                <string>{173,152}</string>
                <key>spriteSourceSize</key>
                <string>{209,208}</string>
                <key>textureRect</key>
                <string>{{357,1},{173,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Monster_1-Death-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-28}</string>
                <key>spriteSize</key>
                <string>{169,126}</string>
                <key>spriteSourceSize</key>
                <string>{209,208}</string>
                <key>textureRect</key>
                <string>{{349,349},{169,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Monster_1-Death-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-33}</string>
                <key>spriteSize</key>
                <string>{171,118}</string>
                <key>spriteSourceSize</key>
                <string>{209,208}</string>
                <key>textureRect</key>
                <string>{{1,371},{171,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_1-Death-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-38}</string>
                <key>spriteSize</key>
                <string>{175,112}</string>
                <key>spriteSourceSize</key>
                <string>{209,208}</string>
                <key>textureRect</key>
                <string>{{1,113},{175,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_1-Death-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-42}</string>
                <key>spriteSize</key>
                <string>{177,110}</string>
                <key>spriteSourceSize</key>
                <string>{209,208}</string>
                <key>textureRect</key>
                <string>{{1,1},{177,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_1-Death-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-42}</string>
                <key>spriteSize</key>
                <string>{177,110}</string>
                <key>spriteSourceSize</key>
                <string>{209,208}</string>
                <key>textureRect</key>
                <string>{{1,1},{177,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_1-Death-17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-42}</string>
                <key>spriteSize</key>
                <string>{177,110}</string>
                <key>spriteSourceSize</key>
                <string>{209,208}</string>
                <key>textureRect</key>
                <string>{{1,1},{177,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_1-Death-18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-42}</string>
                <key>spriteSize</key>
                <string>{177,110}</string>
                <key>spriteSourceSize</key>
                <string>{209,208}</string>
                <key>textureRect</key>
                <string>{{1,1},{177,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_1-Death-19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-42}</string>
                <key>spriteSize</key>
                <string>{177,110}</string>
                <key>spriteSourceSize</key>
                <string>{209,208}</string>
                <key>textureRect</key>
                <string>{{1,1},{177,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_1-Death-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-16}</string>
                <key>spriteSize</key>
                <string>{173,148}</string>
                <key>spriteSourceSize</key>
                <string>{209,208}</string>
                <key>textureRect</key>
                <string>{{178,137},{173,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_1-Death-20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-42}</string>
                <key>spriteSize</key>
                <string>{177,110}</string>
                <key>spriteSourceSize</key>
                <string>{209,208}</string>
                <key>textureRect</key>
                <string>{{1,1},{177,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_1-Death-21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-42}</string>
                <key>spriteSize</key>
                <string>{177,110}</string>
                <key>spriteSourceSize</key>
                <string>{209,208}</string>
                <key>textureRect</key>
                <string>{{1,1},{177,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_1-Death-22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-42}</string>
                <key>spriteSize</key>
                <string>{177,110}</string>
                <key>spriteSourceSize</key>
                <string>{209,208}</string>
                <key>textureRect</key>
                <string>{{1,1},{177,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_1-Death-23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-42}</string>
                <key>spriteSize</key>
                <string>{177,110}</string>
                <key>spriteSourceSize</key>
                <string>{209,208}</string>
                <key>textureRect</key>
                <string>{{1,1},{177,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_1-Death-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-12}</string>
                <key>spriteSize</key>
                <string>{171,158}</string>
                <key>spriteSourceSize</key>
                <string>{209,208}</string>
                <key>textureRect</key>
                <string>{{353,176},{171,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Monster_1-Death-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-9}</string>
                <key>spriteSize</key>
                <string>{169,164}</string>
                <key>spriteSourceSize</key>
                <string>{209,208}</string>
                <key>textureRect</key>
                <string>{{346,520},{169,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Monster_1-Death-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-6}</string>
                <key>spriteSize</key>
                <string>{167,170}</string>
                <key>spriteSourceSize</key>
                <string>{209,208}</string>
                <key>textureRect</key>
                <string>{{1,491},{167,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Monster_1-Death-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-7}</string>
                <key>spriteSize</key>
                <string>{169,168}</string>
                <key>spriteSourceSize</key>
                <string>{209,208}</string>
                <key>textureRect</key>
                <string>{{173,622},{169,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_1-Death-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-9}</string>
                <key>spriteSize</key>
                <string>{169,164}</string>
                <key>spriteSourceSize</key>
                <string>{209,208}</string>
                <key>textureRect</key>
                <string>{{1,660},{169,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_1-Death-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-8}</string>
                <key>spriteSize</key>
                <string>{169,166}</string>
                <key>spriteSourceSize</key>
                <string>{209,208}</string>
                <key>textureRect</key>
                <string>{{344,691},{169,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Monster_1-Death-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-9}</string>
                <key>spriteSize</key>
                <string>{171,164}</string>
                <key>spriteSourceSize</key>
                <string>{209,208}</string>
                <key>textureRect</key>
                <string>{{176,287},{171,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_1-Death-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-23}</string>
                <key>spriteSize</key>
                <string>{175,134}</string>
                <key>spriteSourceSize</key>
                <string>{209,208}</string>
                <key>textureRect</key>
                <string>{{180,1},{175,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Monster_1-Death.png</string>
            <key>size</key>
            <string>{512,861}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6cd085d821de91c8bf4875ebc9657a01:fcdbcf2a545a16ba37c0e4440516d17b:b6f6f228abe48df37faf5246fb90bc08$</string>
            <key>textureFileName</key>
            <string>Monster_1-Death.png</string>
        </dict>
    </dict>
</plist>
