<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Monster_1-Jump-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,-44}</string>
                <key>spriteSize</key>
                <string>{172,117}</string>
                <key>spriteSourceSize</key>
                <string>{304,245}</string>
                <key>textureRect</key>
                <string>{{237,899},{172,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_1-Jump-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,-28}</string>
                <key>spriteSize</key>
                <string>{186,149}</string>
                <key>spriteSourceSize</key>
                <string>{304,245}</string>
                <key>textureRect</key>
                <string>{{257,748},{186,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_1-Jump-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,9}</string>
                <key>spriteSize</key>
                <string>{274,113}</string>
                <key>spriteSourceSize</key>
                <string>{304,245}</string>
                <key>textureRect</key>
                <string>{{1,114},{274,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_1-Jump-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-20}</string>
                <key>spriteSize</key>
                <string>{234,133}</string>
                <key>spriteSourceSize</key>
                <string>{304,245}</string>
                <key>textureRect</key>
                <string>{{1,883},{234,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_1-Jump-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-38}</string>
                <key>spriteSize</key>
                <string>{192,131}</string>
                <key>spriteSourceSize</key>
                <string>{304,245}</string>
                <key>textureRect</key>
                <string>{{277,184},{192,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_1-Jump-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-44,-48}</string>
                <key>spriteSize</key>
                <string>{168,119}</string>
                <key>spriteSourceSize</key>
                <string>{304,245}</string>
                <key>textureRect</key>
                <string>{{1,1018},{168,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Monster_1-Jump-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,-53}</string>
                <key>spriteSize</key>
                <string>{168,113}</string>
                <key>spriteSourceSize</key>
                <string>{304,245}</string>
                <key>textureRect</key>
                <string>{{362,1018},{168,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Monster_1-Jump-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,-53}</string>
                <key>spriteSize</key>
                <string>{168,117}</string>
                <key>spriteSourceSize</key>
                <string>{304,245}</string>
                <key>textureRect</key>
                <string>{{243,1018},{168,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Monster_1-Jump-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-38,-51}</string>
                <key>spriteSize</key>
                <string>{168,119}</string>
                <key>spriteSourceSize</key>
                <string>{304,245}</string>
                <key>textureRect</key>
                <string>{{122,1018},{168,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Monster_1-Jump-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,-13}</string>
                <key>spriteSize</key>
                <string>{196,181}</string>
                <key>spriteSourceSize</key>
                <string>{304,245}</string>
                <key>textureRect</key>
                <string>{{279,1},{196,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_1-Jump-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-45,-8}</string>
                <key>spriteSize</key>
                <string>{200,205}</string>
                <key>spriteSourceSize</key>
                <string>{304,245}</string>
                <key>textureRect</key>
                <string>{{273,317},{200,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_1-Jump-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,0}</string>
                <key>spriteSize</key>
                <string>{222,203}</string>
                <key>spriteSourceSize</key>
                <string>{304,245}</string>
                <key>textureRect</key>
                <string>{{261,524},{222,203}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Monster_1-Jump-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,17}</string>
                <key>spriteSize</key>
                <string>{254,179}</string>
                <key>spriteSourceSize</key>
                <string>{304,245}</string>
                <key>textureRect</key>
                <string>{{1,702},{254,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_1-Jump-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,9}</string>
                <key>spriteSize</key>
                <string>{258,171}</string>
                <key>spriteSourceSize</key>
                <string>{304,245}</string>
                <key>textureRect</key>
                <string>{{1,366},{258,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_1-Jump-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,2}</string>
                <key>spriteSize</key>
                <string>{258,161}</string>
                <key>spriteSourceSize</key>
                <string>{304,245}</string>
                <key>textureRect</key>
                <string>{{1,539},{258,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_1-Jump-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,9}</string>
                <key>spriteSize</key>
                <string>{270,135}</string>
                <key>spriteSourceSize</key>
                <string>{304,245}</string>
                <key>textureRect</key>
                <string>{{1,229},{270,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Monster_1-Jump-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,17}</string>
                <key>spriteSize</key>
                <string>{276,111}</string>
                <key>spriteSourceSize</key>
                <string>{304,245}</string>
                <key>textureRect</key>
                <string>{{1,1},{276,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Monster_1-Jump.png</string>
            <key>size</key>
            <string>{476,1187}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3030b0f9b3b17d0cb8e490f27230db2e:a27eb29c3f8760c6fa4464dfb51e805e:2126a058c9fb3383ed1189a7caf322be$</string>
            <key>textureFileName</key>
            <string>Monster_1-Jump.png</string>
        </dict>
    </dict>
</plist>
